{
	"openapi": "3.0.0",
	"info": {
		"title": "workflows API",
		"description": "Documentation for workflows API",
		"version": "1.0",
		"contact": {},
		"license": {
			"name": "",
			"url": "https://opensource.org/licenses/MIT"
		}
	},
	"tags": [
		{
			"name": "Workflows",
			"description": "Documentation for workflows API"
		}
	],
	"servers": [
		{
			"url": "https://services.leadconnectorhq.com"
		}
	],
	"components": {
		"securitySchemes": {
			"bearer": {
				"$ref": "oauth.json#/components/securitySchemes/bearer"
			}
		},
		"schemas": {
			"BadRequestDto": {
				"type": "object",
				"properties": {
					"statusCode": {
						"type": "number",
						"example": 400
					},
					"message": {
						"type": "string",
						"example": "Bad Request"
					}
				}
			},
			"UnauthorizedDto": {
				"type": "object",
				"properties": {
					"statusCode": {
						"type": "number",
						"example": 401
					},
					"message": {
						"type": "string",
						"example": "Invalid token: access token is invalid"
					},
					"error": {
						"type": "string",
						"example": "Unauthorized"
					}
				}
			},
			"unprocessableDto": {
				"type": "object",
				"properties": {
					"statusCode": {
						"type": "number",
						"example": 422
					},
					"message": {
						"example": ["Unprocessable Entity"],
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"error": {
						"type": "string",
						"example": "Unprocessable Entity"
					}
				}
			},
			"WorkflowSchema": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"example": "78559bb3-b920-461e-b010-7b2a2816d2a9"
					},
					"name": {
						"type": "string",
						"example": "First Workflow"
					},
					"status": {
						"type": "string",
						"example": "draft"
					},
					"version": {
						"type": "number",
						"example": 2
					},
					"createdAt": {
						"type": "string",
						"example": "2021-05-26T11:33:49.000Z"
					},
					"updatedAt": {
						"type": "string",
						"example": "2021-05-26T11:33:49.000Z"
					},
					"locationId": {
						"type": "string",
						"example": "eBG6WapS3v4ZqwA45MTxtYJ"
					}
				}
			},
			"GetWorkflowSuccessfulResponseDto": {
				"type": "object",
				"properties": {
					"workflow": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/WorkflowSchema"
						}
					}
				}
			}
		}
	},
	"paths": {
		"/workflows": {
			"get": {
				"operationId": "get-workflow",
				"summary": "Get Workflow",
				"description": "Get Workflow",
				"security": [
					{
						"bearer": []
					}
				],
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Access Token",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Access Token"
						}
					},
					{
						"name": "Version",
						"in": "header",
						"description": "Api Version",
						"required": true,
						"schema": {
							"type": "string",
							"example": "2021-04-15"
						}
					},
					{
						"name": "locationId",
						"required": true,
						"in": "query",
						"example": "ve9EPM428h8vShlRW1KT",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetWorkflowSuccessfulResponseDto"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BadRequestDto"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UnauthorizedDto"
								}
							}
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/unprocessableDto"
								}
							}
						}
					}
				},
				"tags": ["Workflows"]
			}
		}
	}
}
