{
    "openapi": "3.0.0",
    "info": {
        "title": "campaigns API",
        "description": "Documentation for campaigns API",
        "version": "1.0",
        "contact": {}
    },
    "tags": [
        {
            "name": "Campaigns",
            "description": "Documentation for campaigns API"
        }
    ],
    "servers": [
        {
            "url": "https://services.leadconnectorhq.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer": {
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "type": "http"
            }
        },
        "schemas": {
            "BadRequestDto": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "example": 400
                    },
                    "message": {
                        "type": "string",
                        "example": "Bad Request"
                    }
                }
            },
            "UnauthorizedDto": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "example": 401
                    },
                    "message": {
                        "type": "string",
                        "example": "Invalid token: access token is invalid"
                    },
                    "error": {
                        "type": "string",
                        "example": "Unauthorized"
                    }
                }
            },
            "unprocessableDto": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "example": 422
                    },
                    "message": {
                        "example": [
                            "Unprocessable Entity"
                        ],
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "error": {
                        "type": "string",
                        "example": "Unprocessable Entity"
                    }
                }
            },
            "campaignsSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "mIVALPYuTD7YjUHnFEx4"
                    },
                    "name": {
                        "type": "string",
                        "example": "test"
                    },
                    "status": {
                        "type": "string",
                        "example": "published"
                    },
                    "locationId": {
                        "type": "string",
                        "example": "ve9EPM428h8vShlRW1KT"
                    }
                }
            },
            "CampaignsSuccessfulResponseDto": {
                "type": "object",
                "properties": {
                    "campaigns": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/campaignsSchema"
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "/campaigns/": {
            "get": {
                "operationId": "get-campaigns",
                "summary": "Get Campaigns",
                "description": "Get Campaigns",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    },
                    {
                        "name": "locationId",
                        "required": true,
                        "in": "query",
                        "example": "ve9EPM428h8vShlRW1KT",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "required": false,
                        "in": "query",
                        "example": "draft",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignsSuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDto"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/unprocessableDto"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Campaigns"
                ]
            }
        }
    }
}