{
    "openapi": "3.0.0",
    "info": {
        "title": "Forms API",
        "description": "Documentation for forms API",
        "version": "1.0",
        "contact": {}
    },
    "tags": [
        {
            "name": "Forms",
            "description": "Documentation for forms API"
        }
    ],
    "servers": [
        {
            "url": "https://services.leadconnectorhq.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer": {
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "type": "http"
            }
        },
        "schemas": {
            "BadRequestDTO": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "example": 400
                    },
                    "message": {
                        "type": "string",
                        "example": "Bad Request"
                    }
                }
            },
            "UnauthorizedDTO": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "example": 401
                    },
                    "message": {
                        "type": "string",
                        "example": "Invalid token: access token is invalid"
                    },
                    "error": {
                        "type": "string",
                        "example": "Unauthorized"
                    }
                }
            },
            "pageDetailsSchema": {
                "type": "object",
                "properties": {
                    "url": {
                        "type": "string",
                        "example": "https://chaitanya-staging.dentistsnear.me/widget/form/YSWdvS4Is98wtIDGnpmI"
                    },
                    "source": {
                        "type": "string",
                        "example": "Direct traffic"
                    },
                    "referrer": {
                        "type": "string",
                        "example": "https://staging.gohighlevel.com"
                    },
                    "fbEventId": {
                        "type": "string",
                        "example": "14247f97-f43e-488b-998a-165181a13018"
                    }
                }
            },
            "FormsSubmissionsSubmissionsSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "38303ec7-629a-49e2-888a-cf8bf0b1f97e"
                    },
                    "contactId": {
                        "type": "string",
                        "example": "DWQ45t2IPVxi9LDu1wBl"
                    },
                    "__submissions_other_field__": {
                        "type": "string",
                        "example": "john@deo.com"
                    },
                    "__custom_field_id__": {
                        "type": "string",
                        "example": "20"
                    },
                    "createdAt": {
                        "type": "string",
                        "example": "2021-06-23T06:07:04.000Z"
                    },
                    "formId": {
                        "type": "string",
                        "example": "YSWdvS4Is98wtIDGnpmI"
                    },
                    "pageDetails": {
                        "$ref": "#/components/schemas/pageDetailsSchema"
                    }
                }
            },
            "metaSchema": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "number",
                        "example": 1
                    },
                    "currentPage": {
                        "type": "number",
                        "example": 1
                    },
                    "nextPage": {
                        "type": "number",
                        "example": null,
                        "nullable": true
                    },
                    "prevPage": {
                        "type": "number",
                        "example": null,
                        "nullable": true
                    }
                }
            },
            "FormsSubmissionsSuccessfulResponseDto": {
                "type": "object",
                "properties": {
                    "submissions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FormsSubmissionsSubmissionsSchema"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/metaSchema"
                    }
                }
            },
            "UnprocessableDTO": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "example": 422
                    },
                    "message": {
                        "example": [
                            "Unprocessable Entity"
                        ],
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "error": {
                        "type": "string",
                        "example": "Unprocessable Entity"
                    }
                }
            },
            "FormsParams": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "YSWdvS4Is98wtIDGnpmI"
                    },
                    "name": {
                        "type": "string",
                        "example": "Form 1"
                    },
                    "locationId": {
                        "type": "string",
                        "example": "ve9EPM428h8vShlRW1KT"
                    }
                }
            },
            "FormsSuccessfulResponseDto": {
                "type": "object",
                "properties": {
                    "forms": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FormsParams"
                        }
                    },
                    "total": {
                        "type": "number",
                        "example": "20",
                        "description": "Total number of forms"
                    }
                }
            }
        }
    },
    "paths": {
        "/forms/submissions": {
            "get": {
                "operationId": "get-forms-submissions",
                "summary": "Get Forms Submissions",
                "description": "Get Forms Submissions",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    },
                    {
                        "name": "locationId",
                        "required": true,
                        "in": "query",
                        "example": "ve9EPM428h8vShlRW1KT",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "example": 1,
                        "description": "Page No. By default it will be 1",
                        "schema": {
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "required": false,
                        "in": "query",
                        "example": 20,
                        "description": "Limit Per Page records count. will allow maximum up to 100 and default will be 20",
                        "schema": {
                            "default": 20,
                            "type": "number"
                        }
                    },
                    {
                        "name": "formId",
                        "required": false,
                        "in": "query",
                        "example": "jjusM6EOngDExnbo2DbU",
                        "description": "Filter submission by form id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "example": "john@deo.com",
                        "description": "Filter by contactId, name, email or phone no.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startAt",
                        "required": false,
                        "in": "query",
                        "example": "2020-11-14",
                        "description": "Get submission by starting of this date. By default it will be same date of last month(YYYY-MM-DD).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endAt",
                        "required": false,
                        "in": "query",
                        "example": "2020-12-14",
                        "description": "Get submission by ending of this date. By default it will be current date(YYYY-MM-DD).",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FormsSubmissionsSuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDTO"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableDTO"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Forms"
                ]
            }
        },
        "/forms/": {
            "get": {
                "operationId": "get-forms",
                "summary": "Get Forms",
                "description": "Get Forms",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    },
                    {
                        "name": "locationId",
                        "required": true,
                        "in": "query",
                        "example": "ve9EPM428h8vShlRW1KT",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "skip",
                        "required": false,
                        "in": "query",
                        "example": 0,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "required": false,
                        "in": "query",
                        "example": 20,
                        "description": "Limit Per Page records count. will allow maximum up to 50 and default will be 10",
                        "schema": {
                            "default": 10,
                            "type": "number"
                        }
                    },
                    {
                        "name": "type",
                        "required": false,
                        "in": "query",
                        "example": "folder",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FormsSuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDTO"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Forms"
                ]
            }
        }
    }
}