{
    "openapi": "3.0.0",
    "info": {
        "title": "Opportunities API",
        "description": "Documentation for Opportunities API",
        "version": "1.0",
        "contact": {}
    },
    "tags": [
        {
            "name": "Opportunities",
            "description": "Documentation for Opportunities API"
        },
        {
            "name": "Search",
            "description": "Documentation for Opportunities API"
        },
        {
            "name": "Pipelines",
            "description": "Documentation for Opportunities API"
        },
        {
            "name": "Export",
            "description": "Documentation for Opportunities API"
        }
    ],
    "servers": [
        {
            "url": "https://services.leadconnectorhq.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer": {
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "type": "http"
            }
        },
        "schemas": {
            "BadRequestDto": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "example": 400
                    },
                    "message": {
                        "type": "string",
                        "example": "Bad Request"
                    }
                }
            },
            "UnauthorizedDto": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "example": 401
                    },
                    "message": {
                        "type": "string",
                        "example": "Invalid token: access token is invalid"
                    },
                    "error": {
                        "type": "string",
                        "example": "Unauthorized"
                    }
                }
            },
            "unprocessableDto": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "example": 422
                    },
                    "message": {
                        "example": [
                            "Unprocessable Entity"
                        ],
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "error": {
                        "type": "string",
                        "example": "Unprocessable Entity"
                    }
                }
            },
            "SearchOpportunitiesContactResponseSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "byMEV0NQinDhq8ZfiOi2"
                    },
                    "name": {
                        "type": "string",
                        "example": "John Deo"
                    },
                    "companyName": {
                        "type": "string",
                        "example": "Tesla Inc"
                    },
                    "email": {
                        "type": "string",
                        "example": "john@deo.com"
                    },
                    "phone": {
                        "type": "string",
                        "example": "+1202-555-0107"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "SearchOpportunitiesResponseSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "yWQobCRIhRguQtD2llvk"
                    },
                    "name": {
                        "type": "string",
                        "example": "testing"
                    },
                    "monetaryValue": {
                        "type": "number",
                        "example": 500
                    },
                    "pipelineId": {
                        "type": "string",
                        "example": "VDm7RPYC2GLUvdpKmBfC"
                    },
                    "pipelineStageId": {
                        "type": "string",
                        "example": "e93ba61a-53b3-45e7-985a-c7732dbcdb69"
                    },
                    "assignedTo": {
                        "type": "string",
                        "example": "zT46WSCPbudrq4zhWMk6"
                    },
                    "status": {
                        "type": "string",
                        "example": "open"
                    },
                    "source": {
                        "type": "string",
                        "example": ""
                    },
                    "lastStatusChangeAt": {
                        "type": "string",
                        "example": "2021-08-03T04:55:17.355Z"
                    },
                    "lastActionDate": {
                        "type": "string",
                        "example": "2021-08-03T04:55:17.355Z"
                    },
                    "indexVersion": {
                        "type": "string",
                        "example": 1
                    },
                    "createdAt": {
                        "type": "string",
                        "example": "2021-08-03T04:55:17.355Z"
                    },
                    "updatedAt": {
                        "type": "string",
                        "example": "2021-08-03T04:55:17.355Z"
                    },
                    "contactId": {
                        "type": "string",
                        "example": "zT46WSCPbudrq4zhWMk6"
                    },
                    "locationId": {
                        "type": "string",
                        "example": "zT46WSCPbudrq4zhW"
                    },
                    "contact": {
                        "$ref": "#/components/schemas/SearchOpportunitiesContactResponseSchema"
                    }
                }
            },
            "SearchMetaResponseSchema": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "number",
                        "example": 1
                    },
                    "nextPageUrl": {
                        "type": "string",
                        "example": "http://localhost:5066/opportunities/search?q=&location_id=ve9EPM428h8vShlRW1KT&pipeline_id=&pipeline_stage_id=&status=&assigned_to+=&campaignId=&id=&order=&endDate=&startAfter=1625203104328&startAfterId=yWQobCRIhRguQtD2llvk&date=&limit=1&country=&page=1"
                    },
                    "startAfterId": {
                        "type": "string",
                        "example": "yWQobCRIhRguQtD2llvk"
                    },
                    "startAfter": {
                        "type": "number",
                        "example": 1625203104328
                    },
                    "currentPage": {
                        "type": "number",
                        "example": 2
                    },
                    "nextPage": {
                        "type": "number",
                        "example": 3
                    },
                    "prevPage": {
                        "type": "number",
                        "example": 1
                    }
                }
            },
            "SearchSuccessfulResponseDto": {
                "type": "object",
                "properties": {
                    "opportunities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SearchOpportunitiesResponseSchema"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/SearchMetaResponseSchema"
                    },
                    "aggregations": {
                        "type": "object"
                    }
                }
            },
            "StagesSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "38704eb0-6b4f-4c3e-8919-4835d51de0c8"
                    },
                    "name": {
                        "type": "string",
                        "example": "test"
                    }
                }
            },
            "PipelinesResponseSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "aWdODOBVOlH1RUFKWQke"
                    },
                    "name": {
                        "type": "string",
                        "example": "new pipeline"
                    },
                    "stages": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StagesSchema"
                        }
                    }
                }
            },
            "GetPipelinesSuccessfulResponseDto": {
                "type": "object",
                "properties": {
                    "pipelines": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PipelinesResponseSchema"
                        }
                    }
                }
            },
            "GetPostOpportunitySuccessfulResponseDto": {
                "type": "object",
                "properties": {
                    "opportunity": {
                        "$ref": "#/components/schemas/SearchOpportunitiesResponseSchema"
                    }
                }
            },
            "DeleteUpdateOpportunitySuccessfulResponseDto": {
                "type": "object",
                "properties": {
                    "succeded": {
                        "type": "boolean",
                        "example": true
                    }
                }
            },
            "UpdateStatusDto": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "open",
                            "won",
                            "lost",
                            "abandoned",
                            "all"
                        ]
                    }
                },
                "required": [
                    "status"
                ]
            },
            "CreateDto": {
                "type": "object",
                "properties": {
                    "pipelineId": {
                        "type": "string",
                        "description": "pipeline Id",
                        "example": "VDm7RPYC2GLUvdpKmBfC"
                    },
                    "locationId": {
                        "type": "string",
                        "example": "ve9EPM428h8vShlRW1KT"
                    },
                    "name": {
                        "type": "string",
                        "example": "First Opps"
                    },
                    "pipelineStageId": {
                        "type": "string",
                        "example": "7915dedc-8f18-44d5-8bc3-77c04e994a10"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "open",
                            "won",
                            "lost",
                            "abandoned",
                            "all"
                        ]
                    },
                    "contactId": {
                        "type": "string",
                        "example": "mTkSCb1UBjb5tk4OvB69"
                    },
                    "monetaryValue": {
                        "type": "number",
                        "example": 220
                    },
                    "assignedTo": {
                        "type": "string",
                        "example": "082goXVW3lIExEQPOnd3"
                    }
                },
                "required": [
                    "pipelineId",
                    "locationId",
                    "name",
                    "pipelineStageId",
                    "status",
                    "contactId"
                ]
            },
            "UpdateOpportunityDto": {
                "type": "object",
                "properties": {
                    "pipelineId": {
                        "type": "string",
                        "description": "pipeline Id",
                        "example": "bCkKGpDsyPP4peuKowkG"
                    },
                    "name": {
                        "type": "string",
                        "example": "First Opps"
                    },
                    "pipelineStageId": {
                        "type": "string",
                        "example": "7915dedc-8f18-44d5-8bc3-77c04e994a10"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "open",
                            "won",
                            "lost",
                            "abandoned",
                            "all"
                        ]
                    },
                    "monetaryValue": {
                        "type": "number",
                        "example": 220
                    },
                    "assignedTo": {
                        "type": "string",
                        "example": "082goXVW3lIExEQPOnd3"
                    }
                }
            },
            "UpsertOpportunityDto": {
                "type": "object",
                "properties": {
                    "pipelineId": {
                        "type": "string",
                        "description": "pipeline Id",
                        "example": "bCkKGpDsyPP4peuKowkG"
                    },
                    "locationId": {
                        "type": "string",
                        "description": "locationId",
                        "example": "CLu7BaljjqrEjBGKTNNe"
                    },
                    "contactId": {
                        "type": "string",
                        "description": "contactId",
                        "example": "LiKJ2vnRg5ETM8Z19K7"
                    },
                    "name": {
                        "type": "string",
                        "description": "name",
                        "example": "opportunity name"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "open",
                            "won",
                            "lost",
                            "abandoned",
                            "all"
                        ]
                    },
                    "pipelineStageId": {
                        "type": "string",
                        "example": "7915dedc-8f18-44d5-8bc3-77c04e994a10"
                    },
                    "monetaryValue": {
                        "type": "number",
                        "example": 220
                    },
                    "assignedTo": {
                        "type": "string",
                        "example": "082goXVW3lIExEQPOnd3"
                    }
                },
                "required": [
                    "pipelineId",
                    "locationId",
                    "contactId"
                ]
            },
            "UpsertOpportunitySuccessfulResponseDto": {
                "type": "object",
                "properties": {
                    "opportunity": {
                        "type": "object",
                        "description": "Updated / New Opportunity"
                    },
                    "new": {
                        "type": "boolean",
                        "example": true
                    }
                },
                "required": [
                    "opportunity",
                    "new"
                ]
            }
        }
    },
    "paths": {
        "/opportunities/search": {
            "get": {
                "operationId": "search-opportunity",
                "summary": "Search Opportunity",
                "description": "Search Opportunity",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "example": "john@deo.com",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location_id",
                        "required": true,
                        "in": "query",
                        "description": "Location Id",
                        "example": "i2SpAtBVHSVea1sL6oah",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pipeline_id",
                        "required": false,
                        "in": "query",
                        "example": "bCkKGpDsyPP4peuKowkG",
                        "description": "Pipeline Id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pipeline_stage_id",
                        "required": false,
                        "in": "query",
                        "example": "7915dedc-8f18-44d5-8bc3-77c04e994a10",
                        "description": "stage Id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contact_id",
                        "required": false,
                        "in": "query",
                        "example": "WFwVrSSjZ2CNHbZThQX2",
                        "description": "Contact Id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "enum": [
                                "open",
                                "won",
                                "lost",
                                "abandoned",
                                "all"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "assigned_to",
                        "required": false,
                        "in": "query",
                        "example": "082goXVW3lIExEQPOnd3",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "campaignId",
                        "required": false,
                        "in": "query",
                        "example": "Y2I9XM7aO1hncuSOlc9L",
                        "description": "Campaign Id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "required": false,
                        "in": "query",
                        "description": "Opportunity Id",
                        "example": "123akv4LFn6C9frZoy3e",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "required": false,
                        "in": "query",
                        "example": "added_asc",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endDate",
                        "required": false,
                        "in": "query",
                        "description": "End date",
                        "example": "mm-dd-yyyy",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startAfter",
                        "required": false,
                        "in": "query",
                        "description": "Start After",
                        "example": "1628008053263",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startAfterId",
                        "required": false,
                        "in": "query",
                        "example": "UIaE1WjAwWKdlyD7osQI",
                        "description": "Start After Id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "required": false,
                        "in": "query",
                        "description": "Start date",
                        "example": "mm-dd-yyyy",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "required": false,
                        "in": "query",
                        "example": "US",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "required": false,
                        "in": "query",
                        "description": "Limit Per Page records count. will allow maximum up to 100 and default will be 20",
                        "schema": {
                            "default": 20,
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchSuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDto"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/unprocessableDto"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Search"
                ]
            }
        },
        "/opportunities/pipelines": {
            "get": {
                "operationId": "get-pipelines",
                "summary": "Get Pipelines",
                "description": "Get Pipelines",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    },
                    {
                        "name": "locationId",
                        "required": true,
                        "in": "query",
                        "example": "ve9EPM428h8vShlRW1KT",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPipelinesSuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDto"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Pipelines"
                ]
            }
        },
        "/opportunities/{id}": {
            "get": {
                "operationId": "get-opportunity",
                "summary": "Get Opportunity",
                "description": "Get Opportunity",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    },
                    {
                        "name": "id",
                        "required": true,
                        "in": "path",
                        "description": "Opportunity Id",
                        "example": "yWQobCRIhRguQtD2llvk",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPostOpportunitySuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDto"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/unprocessableDto"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Opportunities"
                ]
            },
            "delete": {
                "operationId": "delete-opportunity",
                "summary": "Delete Opportunity",
                "description": "Delete Opportunity",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    },
                    {
                        "name": "id",
                        "required": true,
                        "in": "path",
                        "description": "Opportunity Id",
                        "example": "yWQobCRIhRguQtD2llvk",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteUpdateOpportunitySuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDto"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/unprocessableDto"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Opportunities"
                ]
            },
            "put": {
                "operationId": "update-opportunity",
                "summary": "Update Opportunity",
                "description": "Update Opportunity",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    },
                    {
                        "name": "id",
                        "required": true,
                        "in": "path",
                        "description": "Opportunity Id",
                        "example": "yWQobCRIhRguQtD2llvk",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateOpportunityDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPostOpportunitySuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDto"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/unprocessableDto"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Opportunities"
                ]
            }
        },
        "/opportunities/{id}/status": {
            "put": {
                "operationId": "update-opportunity-status",
                "summary": "Update Opportunity Status",
                "description": "Update Opportunity Status",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    },
                    {
                        "name": "id",
                        "required": true,
                        "in": "path",
                        "description": "Opportunity Id",
                        "example": "yWQobCRIhRguQtD2llvk",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateStatusDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteUpdateOpportunitySuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDto"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/unprocessableDto"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Opportunities"
                ]
            }
        },
        "/opportunities/upsert": {
            "post": {
                "operationId": "Upsert-opportunity",
                "summary": "Upsert Opportunity",
                "description": "Upsert Opportunity",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpsertOpportunityDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpsertOpportunitySuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDto"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/unprocessableDto"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Opportunities"
                ]
            }
        },
        "/opportunities/": {
            "post": {
                "operationId": "create-opportunity",
                "summary": "Create Opportunity",
                "description": "Create Opportunity",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Access Token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Access Token"
                        }
                    },
                    {
                        "name": "Version",
                        "in": "header",
                        "description": "Api Version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2021-04-15"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDto"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPostOpportunitySuccessfulResponseDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequestDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedDto"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/unprocessableDto"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Opportunities"
                ]
            }
        }
    }
}