{
	"components": {
		"schemas": {
			"CategoryInterface": {
				"properties": {
					"posts": {
						"items": {
							"$ref": "#/components/schemas/PostInterface"
						},
						"type": "array"
					},
					"subCategories": {
						"items": {
							"$ref": "#/components/schemas/SubCategoryInterface"
						},
						"type": "array"
					},
					"thumbnailUrl": {
						"type": "string"
					},
					"title": {
						"type": "string"
					},
					"visibility": {
						"$ref": "#/components/schemas/visibility"
					}
				},
				"required": ["title", "visibility"],
				"type": "object"
			},
			"InstructorDetails": {
				"properties": {
					"description": {
						"type": "string"
					},
					"name": {
						"type": "string"
					}
				},
				"required": ["name", "description"],
				"type": "object"
			},
			"PostInterface": {
				"properties": {
					"bucketVideoUrl": {
						"type": "string"
					},
					"contentType": {
						"$ref": "#/components/schemas/contentType"
					},
					"description": {
						"type": "string"
					},
					"postMaterials": {
						"items": {
							"$ref": "#/components/schemas/PostMaterialInterface"
						},
						"type": "array"
					},
					"thumbnailUrl": {
						"type": "string"
					},
					"title": {
						"type": "string"
					},
					"visibility": {
						"$ref": "#/components/schemas/visibility"
					}
				},
				"required": ["title", "visibility", "contentType", "description"],
				"type": "object"
			},
			"PostMaterialInterface": {
				"properties": {
					"title": {
						"type": "string"
					},
					"type": {
						"$ref": "#/components/schemas/type"
					},
					"url": {
						"type": "string"
					}
				},
				"required": ["title", "type", "url"],
				"type": "object"
			},
			"ProductInterface": {
				"properties": {
					"categories": {
						"items": {
							"$ref": "#/components/schemas/CategoryInterface"
						},
						"type": "array"
					},
					"description": {
						"type": "string"
					},
					"imageUrl": {
						"type": "string"
					},
					"instructorDetails": {
						"$ref": "#/components/schemas/InstructorDetails"
					},
					"title": {
						"type": "string"
					}
				},
				"required": ["title", "description", "categories"],
				"type": "object"
			},
			"PublicExporterPayload": {
				"properties": {
					"locationId": {
						"type": "string"
					},
					"products": {
						"items": {
							"$ref": "#/components/schemas/ProductInterface"
						},
						"type": "array"
					},
					"userId": {
						"type": "string"
					}
				},
				"required": ["locationId", "products"],
				"type": "object"
			},
			"SubCategoryInterface": {
				"properties": {
					"posts": {
						"items": {
							"$ref": "#/components/schemas/PostInterface"
						},
						"type": "array"
					},
					"thumbnailUrl": {
						"type": "string"
					},
					"title": {
						"type": "string"
					},
					"visibility": {
						"$ref": "#/components/schemas/visibility"
					}
				},
				"required": ["title", "visibility"],
				"type": "object"
			},
			"contentType": {
				"enum": ["video", "assignment", "quiz"],
				"type": "string"
			},
			"type": {
				"enum": [
					"pdf",
					"image",
					"docx",
					"pptx",
					"xlsx",
					"html",
					"dotx",
					"epub",
					"webp",
					"gdoc",
					"mp3",
					"doc",
					"txt",
					"zip",
					"ppt",
					"key",
					"htm",
					"xls",
					"odp",
					"odt",
					"rtf",
					"m4a",
					"ods",
					"mp4",
					"ai",
					"avi",
					"mov",
					"wmv",
					"mkv",
					"wav",
					"flac",
					"ogg",
					"png",
					"jpeg",
					"jpg",
					"gif",
					"bmp",
					"tiff",
					"svg",
					"odg",
					"sxw",
					"sxc",
					"sxi",
					"rar",
					"7z",
					"json",
					"xml",
					"csv",
					"md",
					"obj",
					"stl",
					"woff",
					"ttf"
				],
				"type": "string"
			},
			"visibility": {
				"enum": ["published", "draft"],
				"type": "string"
			}
		},
		"securitySchemes": {
			"Agency-Access": {
				"bearerFormat": "JWT",
				"description": "Use the Access Token generated with user type as Agency.",
				"in": "header",
				"name": "Authorization",
				"scheme": "bearer",
				"type": "http"
			},
			"Location-Access": {
				"bearerFormat": "JWT",
				"description": "Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.",
				"in": "header",
				"name": "Authorization",
				"scheme": "bearer",
				"type": "http"
			},
			"bearer": {
				"bearerFormat": "JWT",
				"description": "Use the Access Token generated with user type as Sub-Account (OR) Private Integration Token of Sub-Account.",
				"in": "header",
				"name": "Authorization",
				"scheme": "bearer",
				"type": "http"
			}
		}
	},
	"info": {
		"contact": {},
		"description": "API Service for Courses and Memberships",
		"title": "MEMBERSHIPS API",
		"version": "1.0"
	},
	"openapi": "3.0.0",
	"paths": {
		"/courses/courses-exporter/public/import": {
			"post": {
				"description": "Import Courses through public channels",
				"operationId": "import-courses",
				"parameters": [
					{
						"description": "Access Token",
						"in": "header",
						"name": "Authorization",
						"required": true,
						"schema": {
							"example": "Bearer 9c48df2694a849b6089f9d0d3513efe",
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PublicExporterPayload"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": ""
					}
				},
				"security": [
					{
						"bearer": []
					}
				],
				"summary": "Import Courses"
			}
		}
	},
	"servers": [
		{
			"url": "https://services.leadconnectorhq.com"
		}
	],
	"tags": [
		{
			"description": "API Service for Courses and Memberships",
			"name": "courses"
		}
	]
}
