{
  "openapi": "3.0.0",
  "info": {
    "title": "Calendars API",
    "description": "Documentation for Calendars API",
    "version": "1.0",
    "contact": {},
    "license": {
      "name": "",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "tags": [
    {
      "name": "Calendars",
      "description": "Documentation for Calendars API"
    }
  ],
  "servers": [
    {
      "url": "https://services.leadconnectorhq.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "$ref": "oauth.json#/components/securitySchemes/bearer"
      },
      "Location-Access": {
        "$ref": "oauth.json#/components/securitySchemes/Location-Access"
      },
      "Agency-Access": {
        "$ref": "oauth.json#/components/securitySchemes/Agency-Access"
      }
    },
    "schemas": {
      "BadRequestDTO": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Bad Request"
          }
        }
      },
      "UnauthorizedDTO": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 401
          },
          "message": {
            "type": "string",
            "example": "Invalid token: access token is invalid"
          },
          "error": {
            "type": "string",
            "example": "Unauthorized"
          }
        }
      },
      "GroupSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "0TkCdp9PfvLeWKYRRvIz"
          },
          "locationId": {
            "type": "string",
            "example": "ocQHyuzHvysMo5N5VsXc"
          },
          "name": {
            "type": "string",
            "example": "my-team"
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "description": {
            "type": "string",
            "example": "my-team"
          },
          "slug": {
            "type": "string",
            "example": "my-team"
          }
        }
      },
      "GroupsGetSuccessfulResponseDTO": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupSchema"
            }
          }
        }
      },
      "ValidateGroupSlugPostBody": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "description": "Location Id",
            "example": "ve9EPM428h8vShlRW1KT"
          },
          "slug": {
            "type": "string",
            "description": "Slug",
            "example": "calendar-1"
          }
        },
        "required": [
          "locationId",
          "slug"
        ]
      },
      "ValidateGroupSlugSuccessResponseDTO": {
        "type": "object",
        "properties": {
          "available": {
            "type": "boolean"
          }
        },
        "required": [
          "available"
        ]
      },
      "GroupDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ocQHyuzHvysMo5N5VsXc"
          },
          "locationId": {
            "type": "string",
            "example": "ocQHyuzHvysMo5N5VsXc"
          },
          "name": {
            "type": "string",
            "example": "group a"
          },
          "description": {
            "type": "string",
            "example": "group description"
          },
          "slug": {
            "type": "string",
            "example": "15-mins"
          },
          "isActive": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "locationId",
          "name",
          "description",
          "slug"
        ]
      },
      "GroupCreateSuccessfulResponseDTO": {
        "type": "object",
        "properties": {
          "group": {
            "$ref": "#/components/schemas/GroupDto"
          }
        }
      },
      "GroupSuccessfulResponseDTO": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Success",
            "example": "true"
          }
        }
      },
      "GroupStatusUpdateParams": {
        "type": "object",
        "properties": {
          "isActive": {
            "type": "boolean",
            "description": "Is Active?",
            "example": true
          }
        },
        "required": [
          "isActive"
        ]
      },
      "GroupUpdateDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ocQHyuzHvysMo5N5VsXc"
          },
          "name": {
            "type": "string",
            "example": "group a"
          },
          "description": {
            "type": "string",
            "example": "group description"
          },
          "slug": {
            "type": "string",
            "example": "15-mins"
          }
        },
        "required": [
          "name",
          "description",
          "slug"
        ]
      },
      "CalendarEventDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Calendar Event ID",
            "example": "0007BWpSzSwfiuSl0tR2"
          },
          "title": {
            "type": "string",
            "description": "Calendar Event title",
            "example": "Appointment with GHL Dev team"
          },
          "calendarId": {
            "type": "string",
            "description": "Calendar ID",
            "example": "BqTwX8QFwXzpegMve9EQ"
          },
          "locationId": {
            "type": "string",
            "description": "Location ID",
            "example": "0007BWpSzSwfiuSl0tR2"
          },
          "contactId": {
            "type": "string",
            "description": "Contact ID",
            "example": "9NkT25Vor1v4aQatFsv2"
          },
          "groupId": {
            "type": "string",
            "description": "Group ID",
            "example": "9NkT25Vor1v4aQatFsv2"
          },
          "appointmentStatus": {
            "type": "object",
            "description": "Appointment Event Status",
            "example": "confirmed"
          },
          "assignedUserId": {
            "type": "string",
            "description": "AssignedUser - the primary owner of an appointment",
            "example": "YlWd2wuCAZQzh2cH1fVZ"
          },
          "users": {
            "description": "Users - the secondary owners of an appointment.",
            "example": [
              "YlWd2wuCAZQzh2cH1fVZ",
              "9NkT25Vor1v4aQatFsv2"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "startTime": {
            "type": "object",
            "description": "Start Time",
            "example": "2023-09-25T16:00:00+05:30"
          },
          "endTime": {
            "type": "object",
            "description": "End Time",
            "example": "2023-09-25T16:00:00+05:30"
          }
        },
        "required": [
          "id",
          "title",
          "calendarId",
          "locationId",
          "contactId",
          "groupId",
          "appointmentStatus",
          "assignedUserId",
          "users",
          "startTime",
          "endTime"
        ]
      },
      "GetCalendarEventsSuccessfulResponseDTO": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarEventDTO"
            }
          }
        }
      },
      "SlotsSchema": {
        "type": "object",
        "properties": {
          "slots": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "slots"
        ]
      },
      "GetSlotsSuccessfulResponseDto": {
        "type": "object",
        "properties": {
          "_dates_": {
            "$ref": "#/components/schemas/SlotsSchema"
          }
        },
        "required": [
          "_dates_"
        ]
      },
      "CalendarNotification": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Calendar Notification",
            "example": "email",
            "enum": [
              "email"
            ],
            "default": "email"
          },
          "shouldSendToContact": {
            "type": "boolean"
          },
          "shouldSendToGuest": {
            "type": "boolean"
          },
          "shouldSendToUser": {
            "type": "boolean"
          },
          "shouldSendToSelectedUsers": {
            "type": "boolean"
          },
          "selectedUsers": {
            "type": "string",
            "description": "Comma separated emails",
            "example": "user1@testemail.com,user2@testemail.com"
          }
        },
        "required": [
          "shouldSendToContact",
          "shouldSendToGuest",
          "shouldSendToUser",
          "shouldSendToSelectedUsers",
          "selectedUsers"
        ]
      },
      "TeamMemeber": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "example": "ocQHyuzHvysMo5N5VsXc"
          },
          "priority": {
            "type": "number",
            "default": 0.5,
            "enum": [
              0,
              0.5,
              1
            ]
          },
          "meetingLocationType": {
            "type": "string",
            "description": "Meeting Location Type",
            "example": "custom",
            "default": "custom"
          },
          "meetingLocation": {
            "type": "string"
          }
        },
        "required": [
          "userId"
        ]
      },
      "Hour": {
        "type": "object",
        "properties": {
          "openHour": {
            "type": "number",
            "minimum": 0,
            "maximum": 23
          },
          "openMinute": {
            "type": "number",
            "minimum": 0,
            "maximum": 60
          },
          "closeHour": {
            "type": "number",
            "minimum": 0,
            "maximum": 23
          },
          "closeMinute": {
            "type": "number",
            "minimum": 0,
            "maximum": 60
          }
        },
        "required": [
          "openHour",
          "openMinute",
          "closeHour",
          "closeMinute"
        ]
      },
      "OpenHour": {
        "type": "object",
        "properties": {
          "daysOfTheWeek": {
            "type": "array",
            "items": {
              "type": "number",
              "maximum": 6,
              "minimum": 0
            }
          },
          "hours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hour"
            }
          }
        },
        "required": [
          "daysOfTheWeek",
          "hours"
        ]
      },
      "Recurring": {
        "type": "object",
        "properties": {}
      },
      "Availability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the custom availability object. It is required while updating or deleting the existing custom date availability"
          },
          "date": {
            "type": "string",
            "description": "Formulate the date string in the format of `<YYYY-MM-DD in local timezone>T00:00:00.000Z`.",
            "example": "2023-09-24T00:00:00.000Z"
          },
          "hours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hour"
            }
          },
          "deleted": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "date",
          "hours"
        ]
      },
      "CalendarDTO": {
        "type": "object",
        "properties": {
          "notifications": {
            "description": "Calendar Notifications",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarNotification"
            }
          },
          "locationId": {
            "type": "string",
            "example": "ocQHyuzHvysMo5N5VsXc"
          },
          "groupId": {
            "type": "string",
            "description": "Group Id",
            "example": "BqTwX8QFwXzpegMve9EQ"
          },
          "teamMembers": {
            "description": "Team members are required for calendars of type: Round Robin, Collective, Class, Service.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMemeber"
            }
          },
          "eventType": {
            "type": "string",
            "enum": [
              "RoundRobin_OptimizeForAvailability",
              "RoundRobin_OptimizeForEqualDistribution"
            ],
            "default": "RoundRobin_OptimizeForAvailability"
          },
          "name": {
            "type": "string",
            "example": "test calendar"
          },
          "description": {
            "type": "string",
            "example": "this is used for testing"
          },
          "slug": {
            "type": "string",
            "example": "test1"
          },
          "widgetSlug": {
            "type": "string",
            "example": "test1"
          },
          "calendarType": {
            "type": "string",
            "enum": [
              "round_robin",
              "event",
              "class_booking",
              "collective",
              "service_booking"
            ]
          },
          "widgetType": {
            "type": "string",
            "description": "Calendar widget type. Choose \"default\" for \"neo\" and \"classic\" for \"classic\" layout.",
            "example": "classic",
            "enum": [
              "default",
              "classic"
            ],
            "default": "classic"
          },
          "eventTitle": {
            "type": "string",
            "default": "{{contact.name}}"
          },
          "eventColor": {
            "type": "string",
            "default": "#039be5"
          },
          "meetingLocation": {
            "type": "string"
          },
          "slotDuration": {
            "type": "number",
            "default": 30
          },
          "slotInterval": {
            "type": "number",
            "default": 30
          },
          "slotBuffer": {
            "type": "number"
          },
          "appoinmentPerSlot": {
            "type": "number",
            "default": 1,
            "description": "Maximum bookings per slot (per user). Maximum seats per slot in case of Class Booking Calendar."
          },
          "appoinmentPerDay": {
            "type": "number"
          },
          "openHours": {
            "description": "This is only to set the standard availability. For custom availability, use the availabilities property",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenHour"
            }
          },
          "enableRecurring": {
            "type": "boolean"
          },
          "recurring": {
            "$ref": "#/components/schemas/Recurring"
          },
          "formId": {
            "type": "string"
          },
          "stickyContact": {
            "type": "boolean"
          },
          "isLivePaymentMode": {
            "type": "boolean"
          },
          "autoConfirm": {
            "type": "boolean",
            "default": true
          },
          "shouldSendAlertEmailsToAssignedMember": {
            "type": "boolean"
          },
          "alertEmail": {
            "type": "string"
          },
          "googleInvitationEmails": {
            "type": "boolean",
            "default": false
          },
          "allowReschedule": {
            "type": "boolean",
            "default": true
          },
          "allowCancellation": {
            "type": "boolean",
            "default": true
          },
          "shouldAssignContactToTeamMember": {
            "type": "boolean"
          },
          "shouldSkipAssigningContactForExisting": {
            "type": "boolean"
          },
          "notes": {
            "type": "string"
          },
          "pixelId": {
            "type": "string"
          },
          "formSubmitType": {
            "type": "string",
            "default": "ThankYouMessage",
            "enum": [
              "RedirectURL",
              "ThankYouMessage"
            ]
          },
          "formSubmitRedirectURL": {
            "type": "string"
          },
          "formSubmitThanksMessage": {
            "type": "string"
          },
          "availabilityType": {
            "type": "string",
            "default": 0,
            "enum": [
              "STANDARD",
              "CUSTOM"
            ]
          },
          "availabilities": {
            "description": "This is only to set the custom availability. For standard availability, use the openHours property",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Availability"
            }
          },
          "guestType": {
            "type": "string",
            "enum": [
              "count_only",
              "collect_detail"
            ]
          },
          "consentLabel": {
            "type": "string"
          },
          "calendarCoverImage": {
            "type": "string",
            "example": "https://path-to-image.com"
          },
          "id": {
            "type": "string",
            "example": "0TkCdp9PfvLeWKYRRvIz"
          }
        },
        "required": [
          "locationId",
          "name",
          "id"
        ]
      },
      "CalendarsGetSuccessfulResponseDTO": {
        "type": "object",
        "properties": {
          "calendars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarDTO"
            }
          }
        }
      },
      "CalendarCreateDTO": {
        "type": "object",
        "properties": {
          "notifications": {
            "description": "Calendar Notifications",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarNotification"
            }
          },
          "locationId": {
            "type": "string",
            "example": "ocQHyuzHvysMo5N5VsXc"
          },
          "groupId": {
            "type": "string",
            "description": "Group Id",
            "example": "BqTwX8QFwXzpegMve9EQ"
          },
          "teamMembers": {
            "description": "Team members are required for calendars of type: Round Robin, Collective, Class, Service.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMemeber"
            }
          },
          "eventType": {
            "type": "string",
            "enum": [
              "RoundRobin_OptimizeForAvailability",
              "RoundRobin_OptimizeForEqualDistribution"
            ],
            "default": "RoundRobin_OptimizeForAvailability"
          },
          "name": {
            "type": "string",
            "example": "test calendar"
          },
          "description": {
            "type": "string",
            "example": "this is used for testing"
          },
          "slug": {
            "type": "string",
            "example": "test1"
          },
          "widgetSlug": {
            "type": "string",
            "example": "test1"
          },
          "calendarType": {
            "type": "string",
            "enum": [
              "round_robin",
              "event",
              "class_booking",
              "collective",
              "service_booking"
            ]
          },
          "widgetType": {
            "type": "string",
            "description": "Calendar widget type. Choose \"default\" for \"neo\" and \"classic\" for \"classic\" layout.",
            "example": "classic",
            "enum": [
              "default",
              "classic"
            ],
            "default": "classic"
          },
          "eventTitle": {
            "type": "string",
            "default": "{{contact.name}}"
          },
          "eventColor": {
            "type": "string",
            "default": "#039be5"
          },
          "meetingLocation": {
            "type": "string"
          },
          "slotDuration": {
            "type": "number",
            "default": 30
          },
          "slotInterval": {
            "type": "number",
            "default": 30
          },
          "slotBuffer": {
            "type": "number"
          },
          "appoinmentPerSlot": {
            "type": "number",
            "default": 1,
            "description": "Maximum bookings per slot (per user). Maximum seats per slot in case of Class Booking Calendar."
          },
          "appoinmentPerDay": {
            "type": "number"
          },
          "openHours": {
            "description": "This is only to set the standard availability. For custom availability, use the availabilities property",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenHour"
            }
          },
          "enableRecurring": {
            "type": "boolean"
          },
          "recurring": {
            "$ref": "#/components/schemas/Recurring"
          },
          "formId": {
            "type": "string"
          },
          "stickyContact": {
            "type": "boolean"
          },
          "isLivePaymentMode": {
            "type": "boolean"
          },
          "autoConfirm": {
            "type": "boolean",
            "default": true
          },
          "shouldSendAlertEmailsToAssignedMember": {
            "type": "boolean"
          },
          "alertEmail": {
            "type": "string"
          },
          "googleInvitationEmails": {
            "type": "boolean",
            "default": false
          },
          "allowReschedule": {
            "type": "boolean",
            "default": true
          },
          "allowCancellation": {
            "type": "boolean",
            "default": true
          },
          "shouldAssignContactToTeamMember": {
            "type": "boolean"
          },
          "shouldSkipAssigningContactForExisting": {
            "type": "boolean"
          },
          "notes": {
            "type": "string"
          },
          "pixelId": {
            "type": "string"
          },
          "formSubmitType": {
            "type": "string",
            "default": "ThankYouMessage",
            "enum": [
              "RedirectURL",
              "ThankYouMessage"
            ]
          },
          "formSubmitRedirectURL": {
            "type": "string"
          },
          "formSubmitThanksMessage": {
            "type": "string"
          },
          "availabilityType": {
            "type": "string",
            "default": 0,
            "enum": [
              "STANDARD",
              "CUSTOM"
            ]
          },
          "availabilities": {
            "description": "This is only to set the custom availability. For standard availability, use the openHours property",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Availability"
            }
          },
          "guestType": {
            "type": "string",
            "enum": [
              "count_only",
              "collect_detail"
            ]
          },
          "consentLabel": {
            "type": "string"
          },
          "calendarCoverImage": {
            "type": "string",
            "example": "https://path-to-image.com"
          }
        },
        "required": [
          "locationId",
          "name"
        ]
      },
      "CalendarByIdSuccessfulResponseDTO": {
        "type": "object",
        "properties": {
          "calendar": {
            "$ref": "#/components/schemas/CalendarDTO"
          }
        },
        "required": [
          "calendar"
        ]
      },
      "CalendarUpdateDTO": {
        "type": "object",
        "properties": {
          "notifications": {
            "description": "Calendar Notifications",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarNotification"
            }
          },
          "groupId": {
            "type": "string",
            "description": "Group Id",
            "example": "BqTwX8QFwXzpegMve9EQ"
          },
          "teamMembers": {
            "description": "Team members",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMemeber"
            }
          },
          "eventType": {
            "type": "string",
            "enum": [
              "RoundRobin_OptimizeForAvailability",
              "RoundRobin_OptimizeForEqualDistribution"
            ]
          },
          "name": {
            "type": "string",
            "example": "test calendar"
          },
          "description": {
            "type": "string",
            "example": "this is used for testing"
          },
          "slug": {
            "type": "string",
            "example": "test1"
          },
          "widgetSlug": {
            "type": "string",
            "example": "test1"
          },
          "widgetType": {
            "type": "string",
            "description": "Calendar widget type. Choose \"default\" for \"neo\" and \"classic\" for \"classic\" layout.",
            "example": "classic",
            "enum": [
              "default",
              "classic"
            ],
            "default": "classic"
          },
          "eventTitle": {
            "type": "string"
          },
          "eventColor": {
            "type": "string",
            "default": "#039be5"
          },
          "meetingLocation": {
            "type": "string"
          },
          "slotDuration": {
            "type": "number"
          },
          "slotInterval": {
            "type": "object"
          },
          "slotBuffer": {
            "type": "number"
          },
          "appoinmentPerSlot": {
            "type": "number"
          },
          "appoinmentPerDay": {
            "type": "number"
          },
          "openHours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenHour"
            }
          },
          "enableRecurring": {
            "type": "boolean"
          },
          "recurring": {
            "$ref": "#/components/schemas/Recurring"
          },
          "formId": {
            "type": "string"
          },
          "stickyContact": {
            "type": "boolean"
          },
          "isLivePaymentMode": {
            "type": "boolean"
          },
          "autoConfirm": {
            "type": "boolean"
          },
          "shouldSendAlertEmailsToAssignedMember": {
            "type": "boolean"
          },
          "alertEmail": {
            "type": "string"
          },
          "googleInvitationEmails": {
            "type": "boolean"
          },
          "allowReschedule": {
            "type": "boolean"
          },
          "allowCancellation": {
            "type": "boolean"
          },
          "shouldAssignContactToTeamMember": {
            "type": "boolean"
          },
          "shouldSkipAssigningContactForExisting": {
            "type": "boolean"
          },
          "notes": {
            "type": "string"
          },
          "pixelId": {
            "type": "string"
          },
          "formSubmitType": {
            "type": "string",
            "default": "ThankYouMessage",
            "enum": [
              "RedirectURL",
              "ThankYouMessage"
            ]
          },
          "formSubmitRedirectURL": {
            "type": "string"
          },
          "formSubmitThanksMessage": {
            "type": "string"
          },
          "availabilityType": {
            "type": "string",
            "default": 0,
            "enum": [
              "STANDARD",
              "CUSTOM"
            ]
          },
          "availabilities": {
            "description": "This is only to set the custom availability. For standard availability, use the openHours property",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Availability"
            }
          },
          "guestType": {
            "type": "string",
            "enum": [
              "count_only",
              "collect_detail"
            ]
          },
          "consentLabel": {
            "type": "string"
          },
          "calendarCoverImage": {
            "type": "string"
          }
        }
      },
      "CalendarDeleteSuccessfulResponseDTO": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Success",
            "example": "true"
          }
        },
        "required": [
          "success"
        ]
      },
      "AppointmentSchemaResponse": {
        "type": "object",
        "properties": {
          "calendarId": {
            "type": "string",
            "description": "Calendar Id",
            "example": "CVokAlI8fgw4WYWoCtQz"
          },
          "locationId": {
            "type": "string",
            "description": "Location Id",
            "example": "C2QujeCh8ZnC7al2InWR"
          },
          "contactId": {
            "type": "string",
            "description": "Contact Id",
            "example": "0007BWpSzSwfiuSl0tR2"
          },
          "startTime": {
            "type": "string",
            "description": "Start Time",
            "example": "2021-06-23T03:30:00+05:30"
          },
          "endTime": {
            "type": "string",
            "description": "End Time",
            "example": "2021-06-23T04:30:00+05:30"
          },
          "title": {
            "type": "string",
            "description": "Title",
            "example": "Test Event"
          },
          "appointmentStatus": {
            "type": "string",
            "example": "confirmed",
            "enum": [
              "new",
              "confirmed",
              "cancelled",
              "showed",
              "noshow",
              "invalid"
            ]
          },
          "assignedUserId": {
            "type": "string",
            "description": "Assigned User Id",
            "example": "0007BWpSzSwfiuSl0tR2"
          },
          "address": {
            "type": "string",
            "description": "Appointment Address",
            "example": "Zoom"
          },
          "id": {
            "type": "string",
            "description": "Id",
            "example": "0TkCdp9PfvLeWKYRRvIz"
          }
        },
        "required": [
          "calendarId",
          "locationId",
          "contactId",
          "id"
        ]
      },
      "AppointmentCreateSchema": {
        "type": "object",
        "properties": {
          "calendarId": {
            "type": "string",
            "description": "Calendar Id",
            "example": "CVokAlI8fgw4WYWoCtQz"
          },
          "locationId": {
            "type": "string",
            "description": "Location Id",
            "example": "C2QujeCh8ZnC7al2InWR"
          },
          "contactId": {
            "type": "string",
            "description": "Contact Id",
            "example": "0007BWpSzSwfiuSl0tR2"
          },
          "startTime": {
            "type": "string",
            "description": "Start Time",
            "example": "2021-06-23T03:30:00+05:30"
          },
          "endTime": {
            "type": "string",
            "description": "End Time",
            "example": "2021-06-23T04:30:00+05:30"
          },
          "title": {
            "type": "string",
            "description": "Title",
            "example": "Test Event"
          },
          "appointmentStatus": {
            "type": "string",
            "example": "confirmed",
            "enum": [
              "new",
              "confirmed",
              "cancelled",
              "showed",
              "noshow",
              "invalid"
            ]
          },
          "assignedUserId": {
            "type": "string",
            "description": "Assigned User Id",
            "example": "0007BWpSzSwfiuSl0tR2"
          },
          "address": {
            "type": "string",
            "description": "Appointment Address",
            "example": "Zoom"
          },
          "ignoreDateRange": {
            "type": "boolean",
            "description": "If set to true, the minimum scheduling notice and date range would be ignored",
            "example": false
          },
          "toNotify": {
            "type": "boolean",
            "description": "If set to false, the automations will not run",
            "example": false
          }
        },
        "required": [
          "calendarId",
          "locationId",
          "contactId",
          "startTime"
        ]
      },
      "AppointmentEditSchema": {
        "type": "object",
        "properties": {
          "calendarId": {
            "type": "string",
            "description": "Calendar Id",
            "example": "CVokAlI8fgw4WYWoCtQz"
          },
          "startTime": {
            "type": "string",
            "description": "Start Time",
            "example": "2021-06-23T03:30:00+05:30"
          },
          "endTime": {
            "type": "string",
            "description": "End Time",
            "example": "2021-06-23T04:30:00+05:30"
          },
          "title": {
            "type": "string",
            "description": "Title",
            "example": "Test Event"
          },
          "appointmentStatus": {
            "type": "string",
            "example": "confirmed",
            "enum": [
              "new",
              "confirmed",
              "cancelled",
              "showed",
              "noshow",
              "invalid"
            ]
          },
          "address": {
            "type": "string",
            "description": "Appointment Address",
            "example": "Zoom"
          },
          "ignoreDateRange": {
            "type": "boolean",
            "description": "If set to true, the minimum scheduling notice and date range would be ignored",
            "example": false
          },
          "toNotify": {
            "type": "boolean",
            "description": "If set to false, the automations will not run",
            "example": false
          }
        }
      },
      "BlockSlotCreateSchema": {
        "type": "object",
        "properties": {
          "calendarId": {
            "type": "string",
            "description": "Calendar Id",
            "example": "CVokAlI8fgw4WYWoCtQz"
          },
          "locationId": {
            "type": "string",
            "description": "Location Id",
            "example": "C2QujeCh8ZnC7al2InWR"
          },
          "startTime": {
            "type": "string",
            "description": "Start Time",
            "example": "2021-06-23T03:30:00+05:30"
          },
          "endTime": {
            "type": "string",
            "description": "End Time",
            "example": "2021-06-23T04:30:00+05:30"
          },
          "title": {
            "type": "string",
            "description": "Title",
            "example": "Test Event"
          },
          "assignedUserId": {
            "type": "string",
            "description": "Assigned User Id",
            "example": "CVokAlI8fgw4WYWoCtQz"
          }
        },
        "required": [
          "locationId",
          "startTime",
          "endTime"
        ]
      },
      "CreateBookedSlotSuccessfulResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id",
            "example": "0TkCdp9PfvLeWKYRRvIz"
          },
          "locationId": {
            "type": "string",
            "description": "Location Id",
            "example": "C2QujeCh8ZnC7al2InWR"
          },
          "title": {
            "type": "string",
            "description": "Title",
            "example": "My event"
          },
          "startTime": {
            "type": "string",
            "description": "Start Time",
            "example": "2021-06-23T03:30:00+05:30"
          },
          "endTime": {
            "type": "string",
            "description": "End Time",
            "example": "2021-06-23T04:30:00+05:30"
          },
          "calendarId": {
            "type": "string",
            "description": "Calendar id",
            "example": "CVokAlI8fgw4WYWoCtQz"
          },
          "assignedUserId": {
            "type": "string",
            "description": "Assigned User Id",
            "example": "0007BWpSzSwfiuSl0tR2"
          }
        },
        "required": [
          "id",
          "locationId",
          "title",
          "startTime",
          "endTime"
        ]
      },
      "BlockSlotEditSchema": {
        "type": "object",
        "properties": {
          "calendarId": {
            "type": "string",
            "description": "Calendar Id",
            "example": "CVokAlI8fgw4WYWoCtQz"
          },
          "startTime": {
            "type": "string",
            "description": "Start Time",
            "example": "2021-06-23T03:30:00+05:30"
          },
          "endTime": {
            "type": "string",
            "description": "End Time",
            "example": "2021-06-23T04:30:00+05:30"
          },
          "title": {
            "type": "string",
            "description": "Title",
            "example": "Test Event"
          },
          "assignedUserId": {
            "type": "string",
            "description": "Assigned User Id",
            "example": "CVokAlI8fgw4WYWoCtQz"
          }
        }
      },
      "DeleteAppointmentSchema": {
        "type": "object",
        "properties": {}
      },
      "DeleteEventSuccessfulResponseDto": {
        "type": "object",
        "properties": {
          "succeeded": {
            "type": "boolean",
            "example": true
          }
        }
      }
    }
  },
  "paths": {
    "/calendars/groups": {
      "get": {
        "operationId": "get-groups",
        "summary": "Get Groups",
        "description": "Get all calendar groups in a location.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "locationId",
            "required": true,
            "in": "query",
            "description": "Location Id",
            "example": "ve9EPM428h8vShlRW1KT",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupsGetSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Groups"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "operationId": "create-calendar-group",
        "summary": "Create Calendar Group",
        "description": "Create Calendar Group",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupCreateSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Groups"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/groups/validate-slug": {
      "post": {
        "operationId": "validate-groups-slug",
        "summary": "Validate group slug",
        "description": "Validate if group slug is available or not.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateGroupSlugPostBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateGroupSlugSuccessResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Groups"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/groups/{groupId}": {
      "delete": {
        "operationId": "delete-group",
        "summary": "Delete Group",
        "description": "Delete Group",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "groupId",
            "required": true,
            "in": "path",
            "description": "Group Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Groups"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "operationId": "edit-group",
        "summary": "Edit Group",
        "description": "Edit Group",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "groupId",
            "required": true,
            "in": "path",
            "description": "Group Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupUpdateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupCreateSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Groups"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/groups/{groupId}/status": {
      "put": {
        "operationId": "disable-group",
        "summary": "Disable Group",
        "description": "Disable Group",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "groupId",
            "required": true,
            "in": "path",
            "description": "Group Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupStatusUpdateParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Groups"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/events": {
      "get": {
        "operationId": "get-calendar-events",
        "summary": "Get Calendar Events",
        "description": "Get Calendar Events",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "locationId",
            "required": true,
            "in": "query",
            "description": "Location Id",
            "example": "0007BWpSzSwfiuSl0tR2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "required": false,
            "in": "query",
            "description": "User Id - Owner of an appointment. Either of userId, groupId or calendarId is required",
            "example": "CVokAlI8fgw4WYWoCtQz",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarId",
            "required": false,
            "in": "query",
            "description": "Either of calendarId, userId or groupId is required",
            "example": "BqTwX8QFwXzpegMve9EQ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "required": false,
            "in": "query",
            "description": "Either of groupId, calendarId or userId is required",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "required": true,
            "in": "query",
            "description": "Start Time (in millis)",
            "example": "1680373800000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endTime",
            "required": true,
            "in": "query",
            "description": "End Time (in millis)",
            "example": "1680978599999",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCalendarEventsSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Events"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/blocked-slots": {
      "get": {
        "operationId": "get-blocked-slots",
        "summary": "Get Blocked Slots",
        "description": "Get Blocked Slots",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "locationId",
            "required": true,
            "in": "query",
            "description": "Location Id",
            "example": "0007BWpSzSwfiuSl0tR2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "required": false,
            "in": "query",
            "description": "User Id - Owner of an appointment. Either of userId, groupId or calendarId is required",
            "example": "CVokAlI8fgw4WYWoCtQz",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarId",
            "required": false,
            "in": "query",
            "description": "Either of calendarId, userId or groupId is required",
            "example": "BqTwX8QFwXzpegMve9EQ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "required": false,
            "in": "query",
            "description": "Either of groupId, calendarId or userId is required",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "required": true,
            "in": "query",
            "description": "Start Time (in millis)",
            "example": "1680373800000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endTime",
            "required": true,
            "in": "query",
            "description": "End Time (in millis)",
            "example": "1680978599999",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCalendarEventsSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Events"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-stoplight": {
          "id": "gmld2h9yax7rv"
        }
      }
    },
    "/calendars/{calendarId}/free-slots": {
      "get": {
        "operationId": "get-slots",
        "summary": "Get Free Slots",
        "description": "Get free slots for a calendar between a date range. Optionally a consumer can also request free slots in a particular timezone and also for a particular user.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "description": "Calendar Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "required": true,
            "in": "query",
            "description": "Start Date",
            "example": "1548898600000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": true,
            "in": "query",
            "description": "End Date",
            "example": "1601490599999",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "required": false,
            "in": "query",
            "description": "The timezone in which the free slots are returned",
            "example": "America/Chihuahua",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "required": false,
            "in": "query",
            "description": "The user for whom the free slots are returned",
            "example": "082goXVW3lIExEQPOnd3",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSlotsSuccessfulResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendars"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/{calendarId}": {
      "put": {
        "operationId": "update-calendar",
        "summary": "Update Calendar",
        "description": "Update calendar by ID.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "description": "Calendar Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarByIdSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendars"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "operationId": "get-calendar",
        "summary": "Get Calendar",
        "description": "Get calendar by ID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "description": "Calendar Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarByIdSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendars"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "delete-calendar",
        "summary": "Delete Calendar",
        "description": "Delete calendar by ID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "calendarId",
            "required": true,
            "in": "path",
            "description": "Calendar Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarDeleteSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendars"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/events/appointments/{eventId}": {
      "get": {
        "operationId": "get-appointment",
        "summary": "Get Appointment",
        "description": "Get appointment by ID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "eventId",
            "required": true,
            "in": "path",
            "description": "Event Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentSchemaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Events"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "operationId": "edit-appointment",
        "summary": "Edit Appointment",
        "description": "Edit appointment by ID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "eventId",
            "required": true,
            "in": "path",
            "description": "Event Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentEditSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentSchemaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Events"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/events/appointments": {
      "post": {
        "operationId": "create-appointment",
        "summary": "Create Appointment",
        "description": "Create appointment",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentCreateSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentSchemaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Events"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/events/block-slots": {
      "post": {
        "operationId": "create-block-slot",
        "summary": "Create Block Slot",
        "description": "Create block slot",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockSlotCreateSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBookedSlotSuccessfulResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Events"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/events/block-slots/{eventId}": {
      "put": {
        "operationId": "edit-block-slot",
        "summary": "Edit Block Slot",
        "description": "Edit block slot by ID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "eventId",
            "required": true,
            "in": "path",
            "description": "Event Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockSlotEditSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBookedSlotSuccessfulResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Events"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars/events/{eventId}": {
      "delete": {
        "operationId": "delete-event",
        "summary": "Delete Event",
        "description": "Delete event by ID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "eventId",
            "required": true,
            "in": "path",
            "description": "Event Id",
            "example": "ocQHyuzHvysMo5N5VsXc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAppointmentSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteEventSuccessfulResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendar Events"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/calendars": {
      "get": {
        "operationId": "get-calendars",
        "summary": "Get Calendars",
        "description": "Get all calendars in a location.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          },
          {
            "name": "locationId",
            "required": true,
            "in": "query",
            "description": "Location Id",
            "example": "ve9EPM428h8vShlRW1KT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "required": false,
            "in": "query",
            "description": "Group Id",
            "example": "BqTwX8QFwXzpegMve9EQ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarsGetSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendars"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "operationId": "create-calendar",
        "summary": "Create Calendar",
        "description": "Create calendar in a location.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer 9c48df2694a849b6089f9d0d3513efe"
            }
          },
          {
            "name": "Version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2021-04-15"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarCreateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarByIdSuccessfulResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Calendars"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    }
  }
}