{
  "openapi": "3.0.0",
  "info": {
    "title": "GoHighLevel API V1.1.20",
    "description": "> API v1 is End-of-Life and is no longer maintained. \n  \n> Please use the v2 API - [https://highlevel.stoplight.io/docs/integrations/0443d7d1a4bd0-api-2-0-overview](https://highlevel.stoplight.io/docs/integrations/0443d7d1a4bd0-api-2-0-overview) \n  \n> If you're using API v1 and encountering difficulties with the transition to API v2, please share your feedback with us at [https://ideas.gohighlevel.com/apis](https://ideas.gohighlevel.com/apis) \n  \n> For any queries email us at [support@gohighlevel.com](https://mailto:support@gohighlevel.com) \n  \n\nWelcome\n\nWelcome to the GoHighLevel Developer Documentation Portal. This is documentation for public APIs provide by us which you can use use to automate some process or build any custom integration.In order to use this APIs you will need API Keys (Location/Agency).\n\n1. Agency API Key\n    \n\n- You can get your location API key from agency setting -> API Key -> Agency API Keys\n    \n- This key is required to manage the agency level objects like sub accounts, users.\n    \n\n2\\. Location API Key\n\n- You can get your location API key from sub account -> setting -> Business Info -> API Key\n    \n- This will be used for all the APIs manage all the objects which is part of sub accounts (contacts, appointments, opportunities etc.)\n    \n\n**Important Announcement for API Rate Limit**\n\n1. For Burst Requests - 100/10 seconds\n    \n2. For Daily - 200,000/Day",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://rest.gohighlevel.com", "description": "v1 API base URL" }],
  "components": {
    "securitySchemes": { "bearer": { "type": "http", "scheme": "bearer", "name": "Authorization" } },
    "schemas": {
      "_v1_calendars_teams_get_200_response": {
        "type": "object",
        "properties": {
          "teams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "members": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "email": { "type": "string" }
                    }
                  }
                },
                "calendarConfig": {
                  "type": "object",
                  "properties": {
                    "calendarName": { "type": "string" },
                    "description": { "type": "string" },
                    "slug": { "type": "string" },
                    "link": { "type": "string" },
                    "shouldAssignContactToTeamMember": { "type": "boolean" },
                    "shouldSkipAssigningContactForExisting": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      },
      "_v1_calendars_teams_get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_calendars_teams_get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_calendars_check-slug-availability_{slug}_get_200_response": {
        "type": "object",
        "properties": { "slug": { "type": "string" }, "isSlugAvailable": { "type": "boolean" } }
      },
      "_v1_calendars_check-slug-availability_{slug}_get_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_calendars_check-slug-availability_{slug}_get_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_calendars_check-slug-availability_{slug}_get_422_response": {
        "type": "object",
        "properties": {
          "email or phone": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_calendars_teams__post_request": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "userIds": { "type": "array", "items": { "type": "string" } },
          "calendarConfig": {
            "type": "object",
            "properties": {
              "calendarName": { "type": "string" },
              "description": { "type": "string" },
              "slug": { "type": "string" },
              "shouldAssignContactToTeamMember": { "type": "boolean" },
              "shouldSkipAssigningContactForExisting": { "type": "boolean" }
            }
          }
        }
      },
      "_v1_calendars_teams__post_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "id": { "type": "string" }, "name": { "type": "string" }, "email": { "type": "string" } }
            }
          },
          "calendarConfig": {
            "type": "object",
            "properties": {
              "calendarName": { "type": "string" },
              "description": { "type": "string" },
              "slug": { "type": "string" },
              "link": { "type": "string" },
              "shouldAssignContactToTeamMember": { "type": "boolean" },
              "shouldSkipAssigningContactForExisting": { "type": "boolean" }
            }
          }
        }
      },
      "_v1_calendars_teams__post_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_calendars_teams__post_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_calendars_teams__post_422_response": {
        "type": "object",
        "properties": {
          "name": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "userIds": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "calendarConfig.calendarName": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "calendarConfig.description": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "calendarConfig.slug": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_calendars_teams_{teamId}_put_request": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "userIds": { "type": "array", "items": { "type": "string" } },
          "calendarConfig": {
            "type": "object",
            "properties": {
              "calendarName": { "type": "string" },
              "description": { "type": "string" },
              "slug": { "type": "string" },
              "shouldAssignContactToTeamMember": { "type": "boolean" },
              "shouldSkipAssigningContactForExisting": { "type": "boolean" }
            }
          }
        }
      },
      "_v1_calendars_teams_{teamId}_put_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "id": { "type": "string" }, "name": { "type": "string" }, "email": { "type": "string" } }
            }
          },
          "calendarConfig": {
            "type": "object",
            "properties": {
              "calendarName": { "type": "string" },
              "description": { "type": "string" },
              "slug": { "type": "string" },
              "link": { "type": "string" },
              "shouldAssignContactToTeamMember": { "type": "boolean" },
              "shouldSkipAssigningContactForExisting": { "type": "boolean" }
            }
          }
        }
      },
      "_v1_calendars_teams_{teamId}_put_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_calendars_teams_{teamId}_put_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_calendars_teams_{teamId}_put_422_response": {
        "type": "object",
        "properties": {
          "name": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "userIds": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "calendarConfig.calendarName": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "calendarConfig.description": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "calendarConfig.slug": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_calendars_teams_{teamId}_delete_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_calendars_teams_{teamId}_delete_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_calendars_services_get_200_response": {
        "type": "object",
        "properties": {
          "services": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "description": { "type": "string" },
                "appointmentTitle": { "type": "string" },
                "meetingLocation": { "type": "string" },
                "eventColor": { "type": "string" },
                "teamId": { "type": "string" },
                "linkedCalendars": {
                  "type": "object",
                  "properties": {
                    "google": {
                      "type": "object",
                      "properties": { "id": { "type": "string" }, "name": { "type": "string" } }
                    },
                    "clio": {
                      "type": "object",
                      "properties": { "id": { "type": "string" }, "name": { "type": "string" } }
                    },
                    "drchrono": {
                      "type": "object",
                      "properties": { "id": { "type": "string" }, "name": { "type": "string" } }
                    }
                  }
                },
                "syncOption": { "type": "string" },
                "teamMembers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userId": { "type": "string" },
                      "priority": { "type": "number" },
                      "selected": { "type": "boolean" },
                      "meetingLocation": { "type": "string" }
                    }
                  }
                },
                "availability": {
                  "type": "object",
                  "properties": {
                    "eventTiming": {
                      "type": "object",
                      "properties": {
                        "slotDuration": { "type": "number" },
                        "slotInterval": { "type": "number" },
                        "slotBuffer": { "type": "number" }
                      }
                    },
                    "appointmentInfo": {
                      "type": "object",
                      "properties": { "perSlot": { "type": "number" }, "perDay": { "type": "number" } }
                    },
                    "schedule": {
                      "type": "object",
                      "properties": {
                        "allowBookingAfter": { "type": "number" },
                        "allowBookingAfterUnit": { "type": "string" },
                        "allowBookingFor": { "type": "number" },
                        "allowBookingForUnit": { "type": "string" }
                      }
                    },
                    "officeHours": {
                      "type": "object",
                      "properties": {
                        "monday": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "openMinute": { "type": "number" },
                              "closeMinute": { "type": "number" },
                              "closeHour": { "type": "number" },
                              "openHour": { "type": "number" }
                            }
                          }
                        },
                        "tuesday": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "openMinute": { "type": "number" },
                              "closeMinute": { "type": "number" },
                              "closeHour": { "type": "number" },
                              "openHour": { "type": "number" }
                            }
                          }
                        },
                        "wednesday": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "openMinute": { "type": "number" },
                              "closeMinute": { "type": "number" },
                              "closeHour": { "type": "number" },
                              "openHour": { "type": "number" }
                            }
                          }
                        },
                        "thursday": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "openMinute": { "type": "number" },
                              "closeMinute": { "type": "number" },
                              "closeHour": { "type": "number" },
                              "openHour": { "type": "number" }
                            }
                          }
                        },
                        "friday": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "openMinute": { "type": "number" },
                              "closeMinute": { "type": "number" },
                              "closeHour": { "type": "number" },
                              "openHour": { "type": "number" }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "confirmation": {
                  "type": "object",
                  "properties": {
                    "form": {
                      "type": "object",
                      "properties": { "customFormId": { "type": "string" }, "stickyContact": { "type": "boolean" } }
                    },
                    "notificationAndOther": {
                      "type": "object",
                      "properties": {
                        "alertEmail": { "type": "string" },
                        "hasAutoConfirm": { "type": "boolean" },
                        "hasGoogleSendInvitationEmail": { "type": "boolean" },
                        "hasAllowReschedule": { "type": "boolean" },
                        "hasAllowCancellation": { "type": "boolean" },
                        "hasSendEmailToAssignedMember": { "type": "boolean" },
                        "notes": { "type": "string" },
                        "facebookPixelId": { "type": "string" },
                        "customCode": { "type": "string" }
                      }
                    },
                    "formSubmission": {
                      "type": "object",
                      "properties": { "type": { "type": "string" }, "content": { "type": "string" } }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "_v1_calendars_services_get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_calendars_services_get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_calendars_services__post_request": {
        "type": "object",
        "properties": {
          "teamId": { "type": "string" },
          "eventType": { "type": "string" },
          "teamMembers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "selected": { "type": "boolean" },
                "userId": { "type": "string" },
                "priority": { "type": "string" },
                "meetingLocation": { "type": "string" }
              }
            }
          },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "slug": { "type": "string" },
          "eventColor": { "type": "string" },
          "availability": {
            "type": "object",
            "properties": {
              "eventTiming": {
                "type": "object",
                "properties": {
                  "slotDuration": { "type": "number" },
                  "slotInterval": { "type": "number" },
                  "slotBuffer": { "type": "number" }
                }
              },
              "appointmentInfo": {
                "type": "object",
                "properties": { "perSlot": { "type": "number" }, "perDay": { "type": "number" } }
              },
              "schedule": {
                "type": "object",
                "properties": {
                  "allowBookingAfter": { "type": "number" },
                  "allowBookingAfterUnit": { "type": "string" },
                  "allowBookingFor": { "type": "number" },
                  "allowBookingForUnit": { "type": "string" }
                }
              },
              "officeHours": {
                "type": "object",
                "properties": {
                  "sunday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "monday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "tuesday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "wednesday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "thursday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "friday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "saturday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          },
          "confirmation": {
            "type": "object",
            "properties": {
              "form": {
                "type": "object",
                "properties": {
                  "customFormId": { "type": "string" },
                  "stickyContact": { "type": "boolean" },
                  "stripe": {
                    "type": "object",
                    "properties": {
                      "amount": { "type": "number" },
                      "currency": { "type": "string" },
                      "chargeDescription": { "type": "string" }
                    }
                  }
                }
              },
              "notificationAndOther": {
                "type": "object",
                "properties": {
                  "autoConfirm": { "type": "boolean" },
                  "shouldSendAlertEmailsToAssignedMember": { "type": "boolean" },
                  "googleInvitationEmails": { "type": "boolean" },
                  "allowReschedule": { "type": "boolean" },
                  "allowCancellation": { "type": "boolean" },
                  "notes": { "type": "string" },
                  "facebookPixelId": { "type": "string" }
                }
              },
              "formSubmission": {
                "type": "object",
                "properties": { "type": { "type": "string" }, "content": { "type": "string" } }
              }
            }
          },
          "appointmentTitle": { "type": "string" }
        }
      },
      "_v1_calendars_services__post_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "appointmentTitle": { "type": "string" },
          "meetingLocation": { "type": "string" },
          "eventColor": { "type": "string" },
          "teamId": { "type": "string" },
          "linkedCalendars": {
            "type": "object",
            "properties": {
              "google": {
                "type": "object",
                "properties": { "id": { "type": "string" }, "name": { "type": "string" } }
              },
              "clio": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" } } },
              "drchrono": {
                "type": "object",
                "properties": { "id": { "type": "string" }, "name": { "type": "string" } }
              }
            }
          },
          "syncOption": { "type": "string" },
          "teamMembers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "userId": { "type": "string" },
                "priority": { "type": "number" },
                "selected": { "type": "boolean" },
                "meetingLocation": { "type": "string" }
              }
            }
          },
          "availability": {
            "type": "object",
            "properties": {
              "eventTiming": {
                "type": "object",
                "properties": {
                  "slotDuration": { "type": "number" },
                  "slotInterval": { "type": "number" },
                  "slotBuffer": { "type": "number" }
                }
              },
              "appointmentInfo": {
                "type": "object",
                "properties": { "perSlot": { "type": "number" }, "perDay": { "type": "number" } }
              },
              "schedule": {
                "type": "object",
                "properties": {
                  "allowBookingAfter": { "type": "number" },
                  "allowBookingAfterUnit": { "type": "string" },
                  "allowBookingFor": { "type": "number" },
                  "allowBookingForUnit": { "type": "string" }
                }
              },
              "officeHours": {
                "type": "object",
                "properties": {
                  "monday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openMinute": { "type": "number" },
                        "closeMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "openHour": { "type": "number" }
                      }
                    }
                  },
                  "tuesday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openMinute": { "type": "number" },
                        "closeMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "openHour": { "type": "number" }
                      }
                    }
                  },
                  "wednesday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openMinute": { "type": "number" },
                        "closeMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "openHour": { "type": "number" }
                      }
                    }
                  },
                  "thursday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openMinute": { "type": "number" },
                        "closeMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "openHour": { "type": "number" }
                      }
                    }
                  },
                  "friday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openMinute": { "type": "number" },
                        "closeMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "openHour": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          },
          "confirmation": {
            "type": "object",
            "properties": {
              "form": {
                "type": "object",
                "properties": { "customFormId": { "type": "string" }, "stickyContact": { "type": "boolean" } }
              },
              "notificationAndOther": {
                "type": "object",
                "properties": {
                  "alertEmail": { "type": "string" },
                  "hasAutoConfirm": { "type": "boolean" },
                  "hasGoogleSendInvitationEmail": { "type": "boolean" },
                  "hasAllowReschedule": { "type": "boolean" },
                  "hasAllowCancellation": { "type": "boolean" },
                  "hasSendEmailToAssignedMember": { "type": "boolean" },
                  "notes": { "type": "string" },
                  "facebookPixelId": { "type": "string" },
                  "customCode": { "type": "string" }
                }
              },
              "formSubmission": {
                "type": "object",
                "properties": { "type": { "type": "string" }, "content": { "type": "string" } }
              }
            }
          }
        }
      },
      "_v1_calendars_services__post_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_calendars_services__post_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_calendars_services__post_422_response": {
        "type": "object",
        "properties": {
          "teamId": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "name": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "description": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "eventType": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "teamMembers": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "slug": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "appointmentTitle": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "eventColor": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "availability.eventTiming.slotDuration": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "availability.eventTiming.slotInterval": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "availability.officeHours": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.notificationAndOther.autoConfirm": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.notificationAndOther.shouldSendAlertEmailsToAssignedMember": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.notificationAndOther.googleInvitationEmails": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.notificationAndOther.allowReschedule": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.notificationAndOther.allowCancellation": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.formSubmission.type": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.formSubmission.content": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_calendars_services_{serviceId}_put_request": {
        "type": "object",
        "properties": {
          "teamId": { "type": "string" },
          "eventType": { "type": "string" },
          "teamMembers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "selected": { "type": "boolean" },
                "userId": { "type": "string" },
                "priority": { "type": "string" },
                "meetingLocation": { "type": "string" }
              }
            }
          },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "slug": { "type": "string" },
          "eventColor": { "type": "string" },
          "availability": {
            "type": "object",
            "properties": {
              "eventTiming": {
                "type": "object",
                "properties": {
                  "slotDuration": { "type": "number" },
                  "slotInterval": { "type": "number" },
                  "slotBuffer": { "type": "number" }
                }
              },
              "appointmentInfo": {
                "type": "object",
                "properties": { "perSlot": { "type": "number" }, "perDay": { "type": "number" } }
              },
              "schedule": {
                "type": "object",
                "properties": {
                  "allowBookingAfter": { "type": "number" },
                  "allowBookingAfterUnit": { "type": "string" },
                  "allowBookingFor": { "type": "number" },
                  "allowBookingForUnit": { "type": "string" }
                }
              },
              "officeHours": {
                "type": "object",
                "properties": {
                  "sunday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "monday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "tuesday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "wednesday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "thursday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "friday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  },
                  "saturday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openHour": { "type": "number" },
                        "openMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "closeMinute": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          },
          "confirmation": {
            "type": "object",
            "properties": {
              "form": {
                "type": "object",
                "properties": {
                  "customFormId": { "type": "string" },
                  "stickyContact": { "type": "boolean" },
                  "stripe": {
                    "type": "object",
                    "properties": {
                      "amount": { "type": "number" },
                      "currency": { "type": "string" },
                      "chargeDescription": { "type": "string" }
                    }
                  }
                }
              },
              "notificationAndOther": {
                "type": "object",
                "properties": {
                  "autoConfirm": { "type": "boolean" },
                  "shouldSendAlertEmailsToAssignedMember": { "type": "boolean" },
                  "googleInvitationEmails": { "type": "boolean" },
                  "allowReschedule": { "type": "boolean" },
                  "allowCancellation": { "type": "boolean" },
                  "notes": { "type": "string" },
                  "facebookPixelId": { "type": "string" }
                }
              },
              "formSubmission": {
                "type": "object",
                "properties": { "type": { "type": "string" }, "content": { "type": "string" } }
              }
            }
          },
          "appointmentTitle": { "type": "string" }
        }
      },
      "_v1_calendars_services_{serviceId}_put_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "appointmentTitle": { "type": "string" },
          "meetingLocation": { "type": "string" },
          "eventColor": { "type": "string" },
          "teamId": { "type": "string" },
          "linkedCalendars": {
            "type": "object",
            "properties": {
              "google": {
                "type": "object",
                "properties": { "id": { "type": "string" }, "name": { "type": "string" } }
              },
              "clio": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" } } },
              "drchrono": {
                "type": "object",
                "properties": { "id": { "type": "string" }, "name": { "type": "string" } }
              }
            }
          },
          "syncOption": { "type": "string" },
          "teamMembers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "userId": { "type": "string" },
                "priority": { "type": "number" },
                "selected": { "type": "boolean" },
                "meetingLocation": { "type": "string" }
              }
            }
          },
          "availability": {
            "type": "object",
            "properties": {
              "eventTiming": {
                "type": "object",
                "properties": {
                  "slotDuration": { "type": "number" },
                  "slotInterval": { "type": "number" },
                  "slotBuffer": { "type": "number" }
                }
              },
              "appointmentInfo": {
                "type": "object",
                "properties": { "perSlot": { "type": "number" }, "perDay": { "type": "number" } }
              },
              "schedule": {
                "type": "object",
                "properties": {
                  "allowBookingAfter": { "type": "number" },
                  "allowBookingAfterUnit": { "type": "string" },
                  "allowBookingFor": { "type": "number" },
                  "allowBookingForUnit": { "type": "string" }
                }
              },
              "officeHours": {
                "type": "object",
                "properties": {
                  "monday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openMinute": { "type": "number" },
                        "closeMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "openHour": { "type": "number" }
                      }
                    }
                  },
                  "tuesday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openMinute": { "type": "number" },
                        "closeMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "openHour": { "type": "number" }
                      }
                    }
                  },
                  "wednesday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openMinute": { "type": "number" },
                        "closeMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "openHour": { "type": "number" }
                      }
                    }
                  },
                  "thursday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openMinute": { "type": "number" },
                        "closeMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "openHour": { "type": "number" }
                      }
                    }
                  },
                  "friday": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "openMinute": { "type": "number" },
                        "closeMinute": { "type": "number" },
                        "closeHour": { "type": "number" },
                        "openHour": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          },
          "confirmation": {
            "type": "object",
            "properties": {
              "form": {
                "type": "object",
                "properties": { "customFormId": { "type": "string" }, "stickyContact": { "type": "boolean" } }
              },
              "notificationAndOther": {
                "type": "object",
                "properties": {
                  "alertEmail": { "type": "string" },
                  "hasAutoConfirm": { "type": "boolean" },
                  "hasGoogleSendInvitationEmail": { "type": "boolean" },
                  "hasAllowReschedule": { "type": "boolean" },
                  "hasAllowCancellation": { "type": "boolean" },
                  "hasSendEmailToAssignedMember": { "type": "boolean" },
                  "notes": { "type": "string" },
                  "facebookPixelId": { "type": "string" },
                  "customCode": { "type": "string" }
                }
              },
              "formSubmission": {
                "type": "object",
                "properties": { "type": { "type": "string" }, "content": { "type": "string" } }
              }
            }
          }
        }
      },
      "_v1_calendars_services_{serviceId}_put_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_calendars_services_{serviceId}_put_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_calendars_services_{serviceId}_put_422_response": {
        "type": "object",
        "properties": {
          "teamId": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "name": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "description": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "eventType": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "teamMembers": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "slug": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "appointmentTitle": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "eventColor": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "availability.eventTiming.slotDuration": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "availability.eventTiming.slotInterval": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "availability.officeHours": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.notificationAndOther.autoConfirm": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.notificationAndOther.shouldSendAlertEmailsToAssignedMember": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.notificationAndOther.googleInvitationEmails": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.notificationAndOther.allowReschedule": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.notificationAndOther.allowCancellation": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.formSubmission.type": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "confirmation.formSubmission.content": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_calendars_services_{serviceId}_delete_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_calendars_services_{serviceId}_delete_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_calendars_services_{serviceId}_delete_422_response": {
        "type": "object",
        "properties": {
          "id": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } }
        }
      },
      "_v1_appointments_slots_get_200_response": {
        "type": "object",
        "properties": {
          "_dates_": { "type": "object", "properties": { "slots": { "type": "array", "items": { "type": "string" } } } }
        }
      },
      "_v1_appointments_slots_get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_appointments_slots_get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_appointments_slots_get_422_response": {
        "type": "object",
        "properties": {
          "calendarId": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "startDate": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "endDate": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_appointments__get_200_response": {
        "type": "object",
        "properties": {
          "appointments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "userId": { "type": "string" },
                "calendarProviderId": { "type": "string" },
                "calendarId": { "type": "string" },
                "contactId": { "type": "string" },
                "calendarServiceId": { "type": "string" },
                "isRecurring": { "type": "boolean" },
                "status": { "type": "string" },
                "appoinmentStatus": { "type": "string" },
                "title": { "type": "string" },
                "locationId": { "type": "string" },
                "startTime": { "type": "string" },
                "endTime": { "type": "string" },
                "selectedTimezone": { "type": "string" },
                "contact": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "locationId": { "type": "string" },
                    "email": { "type": "string" },
                    "emailLowerCase": { "type": "string" },
                    "fingerprint": { "type": "string" },
                    "timezone": { "type": "string" },
                    "country": { "type": "string" },
                    "customField": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": { "id": { "type": "string" }, "value": { "type": "string" } }
                      }
                    },
                    "tags": { "type": "array", "items": { "type": "string" } },
                    "__moreField__": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      },
      "_v1_appointments__get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_appointments__get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_appointments__get_422_response": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "endDate": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "userId or calendarProviderId": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_appointments__post_request": {
        "type": "object",
        "properties": {
          "calendarId": { "type": "string" },
          "selectedTimezone": { "type": "string" },
          "selectedSlot": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string" }
        }
      },
      "_v1_appointments__post_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "contactId": { "type": "string" },
          "contact": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "locationId": { "type": "string" },
              "email": { "type": "string" },
              "emailLowerCase": { "type": "string" },
              "fingerprint": { "type": "string" },
              "timezone": { "type": "string" },
              "country": { "type": "string" },
              "customField": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": { "id": { "type": "string" }, "value": { "type": "string" } }
                }
              },
              "__moreField__": { "type": "string" }
            }
          }
        }
      },
      "_v1_appointments__post_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_appointments__post_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_appointments__post_422_response": {
        "type": "object",
        "properties": {
          "calendarId": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "selectedSlot": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "selectedTimezone": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "email or phone": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_appointments_{appointmentId}_get_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "userId": { "type": "string" },
          "calendarProviderId": { "type": "string" },
          "calendarId": { "type": "string" },
          "contactId": { "type": "string" },
          "calendarServiceId": { "type": "string" },
          "isRecurring": { "type": "boolean" },
          "status": { "type": "string" },
          "appoinmentStatus": { "type": "string" },
          "title": { "type": "string" },
          "locationId": { "type": "string" },
          "startTime": { "type": "string" },
          "endTime": { "type": "string" },
          "selectedTimezone": { "type": "string" },
          "contact": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "locationId": { "type": "string" },
              "email": { "type": "string" },
              "emailLowerCase": { "type": "string" },
              "fingerprint": { "type": "string" },
              "timezone": { "type": "string" },
              "country": { "type": "string" },
              "customField": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": { "id": { "type": "string" }, "value": { "type": "string" } }
                }
              },
              "tags": { "type": "array", "items": { "type": "string" } },
              "__moreField__": { "type": "string" }
            }
          }
        }
      },
      "_v1_appointments_{appointmentId}_get_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_appointments_{appointmentId}_get_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_appointments_{appointmentId}_put_request": {
        "type": "object",
        "properties": { "selectedTimezone": { "type": "string" }, "selectedSlot": { "type": "string" } }
      },
      "_v1_appointments_{appointmentId}_put_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "contactId": { "type": "string" },
          "contact": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "locationId": { "type": "string" },
              "email": { "type": "string" },
              "emailLowerCase": { "type": "string" },
              "fingerprint": { "type": "string" },
              "timezone": { "type": "string" },
              "country": { "type": "string" },
              "customField": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": { "id": { "type": "string" }, "value": { "type": "string" } }
                }
              },
              "__moreField__": { "type": "string" }
            }
          }
        }
      },
      "_v1_appointments_{appointmentId}_put_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_appointments_{appointmentId}_put_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_appointments_{appointmentId}_put_422_response": {
        "type": "object",
        "properties": {
          "selectedSlot": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "selectedTimezone": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_appointments_{appointmentId}_delete_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_appointments_{appointmentId}_delete_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_appointments_{appointmentId}_status_put_request": {
        "type": "object",
        "properties": { "status": { "type": "string" } }
      },
      "_v1_appointments_{appointmentId}_status_put_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_appointments_{appointmentId}_status_put_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_appointments_{appointmentId}_status_put_422_response": {
        "type": "object",
        "properties": {
          "status": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_campaigns__get_200_response": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "id": { "type": "string" }, "name": { "type": "string" }, "status": { "type": "string" } }
            }
          }
        }
      },
      "_v1_campaigns__get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_campaigns__get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts_{contactId}_appointments__get_200_response": { "type": "object", "properties": {} },
      "_v1_contacts_{contactId}_appointments__get_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_appointments__get_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_tags__post_request": {
        "type": "object",
        "properties": { "tags": { "type": "array", "items": { "type": "string" } } }
      },
      "_v1_contacts_{contactId}_tags__post_200_response": {
        "type": "object",
        "properties": { "tags": { "type": "array", "items": { "type": "string" } } }
      },
      "_v1_contacts_{contactId}_tags__post_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_tags__post_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_tags__post_422_response": {
        "type": "object",
        "properties": {
          "tags": { "type": "object", "properties": { "message": { "type": "string" }, "rules": { "type": "string" } } }
        }
      },
      "_v1_contacts_{contactId}_tags__delete_200_response": {
        "type": "object",
        "properties": { "tags": { "type": "array", "items": { "type": "string" } } }
      },
      "_v1_contacts_{contactId}_tags__delete_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_tags__delete_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_tags__delete_422_response": {
        "type": "object",
        "properties": {
          "tags": { "type": "object", "properties": { "message": { "type": "string" }, "rules": { "type": "string" } } }
        }
      },
      "_v1_contacts_{contactId}_campaigns_{campaignId}_post_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_campaigns_{campaignId}_post_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_campaigns_{campaignId}_post_422_response": {
        "type": "object",
        "properties": {
          "tags": { "type": "object", "properties": { "message": { "type": "string" }, "rules": { "type": "string" } } }
        }
      },
      "_v1_contacts_{contactId}_campaigns_{campaignId}_delete_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_campaigns_{campaignId}_delete_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_campaigns_{campaignId}_delete_422_response": {
        "type": "object",
        "properties": {
          "tags": { "type": "object", "properties": { "message": { "type": "string" }, "rules": { "type": "string" } } }
        }
      },
      "_v1_contacts_{contactId}_campaigns_remove-all_delete_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_campaigns_remove-all_delete_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_campaigns_remove-all_delete_422_response": {
        "type": "object",
        "properties": {
          "tags": { "type": "object", "properties": { "message": { "type": "string" }, "rules": { "type": "string" } } }
        }
      },
      "_v1_contacts_{contactId}_workflow_{workflowId}_post_request": {
        "type": "object",
        "properties": { "eventStartTime": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_workflow_{workflowId}_post_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_workflow_{workflowId}_post_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_contacts_{contactId}_workflow_{workflowId}_post_422_response": {
        "type": "object",
        "properties": { "contactId": { "type": "string" }, "workflowId": { "type": "string" } }
      },
      "_v1_contacts__get_200_response": {
        "type": "object",
        "properties": {
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "locationId": { "type": "string" },
                "email": { "type": "string" },
                "emailLowerCase": { "type": "string" },
                "fingerprint": { "type": "string" },
                "timezone": { "type": "string" },
                "country": { "type": "string" },
                "source": { "type": "string" },
                "dateAdded": { "type": "string" },
                "customField": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": { "id": { "type": "string" }, "value": { "type": "string" } }
                  }
                },
                "tags": { "type": "array", "items": { "type": "string" } },
                "__moreField__": { "type": "string" }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": { "type": "number" },
              "nextPageUrl": { "type": "string" },
              "startAfterId": { "type": "string" },
              "startAfter": { "type": "number" },
              "currentPage": { "type": "number" },
              "nextPage": { "type": "number" },
              "prevPage": { "type": "number" }
            }
          }
        }
      },
      "_v1_contacts__get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts__get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts__post_request": {
        "type": "object",
        "properties": {
          "email": { "type": "string" },
          "phone": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "name": { "type": "string" },
          "dateOfBirth": { "type": "string" },
          "address1": { "type": "string" },
          "city": { "type": "string" },
          "state": { "type": "string" },
          "country": { "type": "string" },
          "postalCode": { "type": "string" },
          "companyName": { "type": "string" },
          "website": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "source": { "type": "string" },
          "customField": { "type": "object", "properties": { "__custom_field_id__": { "type": "string" } } }
        }
      },
      "_v1_contacts__post_200_response": {
        "type": "object",
        "properties": {
          "contact": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "locationId": { "type": "string" },
              "email": { "type": "string" },
              "emailLowerCase": { "type": "string" },
              "fingerprint": { "type": "string" },
              "timezone": { "type": "string" },
              "country": { "type": "string" },
              "source": { "type": "string" },
              "dateAdded": { "type": "string" },
              "customField": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": { "id": { "type": "string" }, "value": { "type": "string" } }
                }
              },
              "tags": { "type": "array", "items": { "type": "string" } },
              "__moreField__": { "type": "string" }
            }
          }
        }
      },
      "_v1_contacts__post_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts__post_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts__post_422_response": {
        "type": "object",
        "properties": {
          "email or phone": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_contacts_lookup_get_200_response": {
        "type": "object",
        "properties": {
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "locationId": { "type": "string" },
                "email": { "type": "string" },
                "emailLowerCase": { "type": "string" },
                "fingerprint": { "type": "string" },
                "timezone": { "type": "string" },
                "country": { "type": "string" },
                "source": { "type": "string" },
                "dateAdded": { "type": "string" },
                "customField": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": { "id": { "type": "string" }, "value": { "type": "string" } }
                  }
                },
                "tags": { "type": "array", "items": { "type": "string" } },
                "__moreField__": { "type": "string" }
              }
            }
          }
        }
      },
      "_v1_contacts_lookup_get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts_lookup_get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts_lookup_get_422_response": {
        "type": "object",
        "properties": {
          "email or phone": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_contacts_{id}_get_200_response": {
        "type": "object",
        "properties": {
          "contact": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "locationId": { "type": "string" },
              "email": { "type": "string" },
              "emailLowerCase": { "type": "string" },
              "fingerprint": { "type": "string" },
              "timezone": { "type": "string" },
              "country": { "type": "string" },
              "source": { "type": "string" },
              "dateAdded": { "type": "string" },
              "customField": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": { "id": { "type": "string" }, "value": { "type": "string" } }
                }
              },
              "tags": { "type": "array", "items": { "type": "string" } },
              "__moreField__": { "type": "string" }
            }
          }
        }
      },
      "_v1_contacts_{id}_get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts_{id}_get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts_{id}_get_422_response": {
        "type": "object",
        "properties": {
          "id": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } }
        }
      },
      "_v1_contacts_{id}_put_request": {
        "type": "object",
        "properties": {
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string" },
          "dateOfBirth": { "type": "string" },
          "address1": { "type": "string" },
          "city": { "type": "string" },
          "state": { "type": "string" },
          "country": { "type": "string" },
          "postalCode": { "type": "string" },
          "companyName": { "type": "string" },
          "website": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "source": { "type": "string" },
          "customField": { "type": "object", "properties": { "__custom_field_id__": { "type": "string" } } }
        }
      },
      "_v1_contacts_{id}_put_200_response": {
        "type": "object",
        "properties": {
          "contact": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "locationId": { "type": "string" },
              "email": { "type": "string" },
              "emailLowerCase": { "type": "string" },
              "fingerprint": { "type": "string" },
              "timezone": { "type": "string" },
              "country": { "type": "string" },
              "source": { "type": "string" },
              "dateAdded": { "type": "string" },
              "customField": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": { "id": { "type": "string" }, "value": { "type": "string" } }
                }
              },
              "tags": { "type": "array", "items": { "type": "string" } },
              "__moreField__": { "type": "string" }
            }
          }
        }
      },
      "_v1_contacts_{id}_put_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts_{id}_put_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts_{id}_put_422_response": {
        "type": "object",
        "properties": {
          "id": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } }
        }
      },
      "_v1_contacts_{id}_delete_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts_{id}_delete_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_contacts_{id}_delete_422_response": {
        "type": "object",
        "properties": {
          "id": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } }
        }
      },
      "_v1_custom-fields__get_200_response": {
        "type": "object",
        "properties": {
          "customFields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "fieldKey": { "type": "string" },
                "placeholder": { "type": "string" },
                "position": { "type": "number" },
                "dateType": { "type": "string" },
                "picklistOptions": { "type": "array", "items": { "type": "string" } }
              }
            }
          }
        }
      },
      "_v1_custom-fields__get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_custom-fields__get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_custom-fields__post_request": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "dataType": { "type": "string" },
          "placeholder": { "type": "string" },
          "options": { "type": "array", "items": { "type": "string" } },
          "acceptedFormat": { "type": "array", "items": { "type": "string" } },
          "isMultipalFile": { "type": "boolean" },
          "maxNumberOfFiles": { "type": "number" },
          "textBoxListOptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "label": { "type": "string" }, "prefillValue": { "type": "string" } }
            }
          },
          "position": { "type": "number" }
        }
      },
      "_v1_custom-fields__post_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "fieldKey": { "type": "string" },
          "placeholder": { "type": "string" },
          "position": { "type": "number" },
          "dateType": { "type": "string" },
          "picklistOptions": { "type": "array", "items": { "type": "string" } }
        }
      },
      "_v1_custom-fields__post_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_custom-fields__post_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_custom-fields__post_422_response": {
        "type": "object",
        "properties": {
          "name": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "dataType": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "options or acceptedFormat or textBoxListOptions": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_custom-fields_{customFieldId}_get_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "fieldKey": { "type": "string" },
          "placeholder": { "type": "string" },
          "position": { "type": "number" },
          "dateType": { "type": "string" },
          "picklistOptions": { "type": "array", "items": { "type": "string" } }
        }
      },
      "_v1_custom-fields_{customFieldId}_get_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-fields_{customFieldId}_get_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-fields_{customFieldId}_put_request": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "dataType": { "type": "string" },
          "placeholder": { "type": "string" },
          "options": { "type": "array", "items": { "type": "string" } },
          "acceptedFormat": { "type": "array", "items": { "type": "string" } },
          "isMultipalFile": { "type": "boolean" },
          "maxNumberOfFiles": { "type": "number" },
          "textBoxListOptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "label": { "type": "string" }, "prefillValue": { "type": "string" } }
            }
          },
          "position": { "type": "number" }
        }
      },
      "_v1_custom-fields_{customFieldId}_put_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "fieldKey": { "type": "string" },
          "placeholder": { "type": "string" },
          "position": { "type": "number" },
          "dateType": { "type": "string" },
          "picklistOptions": { "type": "array", "items": { "type": "string" } }
        }
      },
      "_v1_custom-fields_{customFieldId}_put_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-fields_{customFieldId}_put_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-fields_{customFieldId}_put_422_response": {
        "type": "object",
        "properties": {
          "name": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "dataType": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "options or acceptedFormat or textBoxListOptions": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_custom-fields_{customFieldId}_delete_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-fields_{customFieldId}_delete_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-fields_{customFieldId}_delete_422_response": {
        "type": "object",
        "properties": {
          "customFieldId": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_custom-values__get_200_response": {
        "type": "object",
        "properties": {
          "customFields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "fieldKey": { "type": "string" },
                "value": { "type": "string" }
              }
            }
          }
        }
      },
      "_v1_custom-values__get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_custom-values__get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_custom-values__post_request": {
        "type": "object",
        "properties": { "name": { "type": "string" }, "value": { "type": "string" } }
      },
      "_v1_custom-values__post_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "fieldKey": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "_v1_custom-values__post_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_custom-values__post_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_custom-values__post_422_response": {
        "type": "object",
        "properties": {
          "name": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "value": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } }
        }
      },
      "_v1_custom-values_{customValueId}_get_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "fieldKey": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "_v1_custom-values_{customValueId}_get_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-values_{customValueId}_get_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-values_{customValueId}_put_request": {
        "type": "object",
        "properties": { "name": { "type": "string" }, "value": { "type": "string" } }
      },
      "_v1_custom-values_{customValueId}_put_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "fieldKey": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "_v1_custom-values_{customValueId}_put_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-values_{customValueId}_put_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-values_{customValueId}_put_422_response": {
        "type": "object",
        "properties": {
          "name": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "value": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } }
        }
      },
      "_v1_custom-values_{customValueId}_delete_400_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-values_{customValueId}_delete_401_response": {
        "type": "object",
        "properties": { "msg": { "type": "string" } }
      },
      "_v1_custom-values_{customValueId}_delete_422_response": {
        "type": "object",
        "properties": {
          "customValueId": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_forms__get_200_response": {
        "type": "object",
        "properties": {
          "forms": {
            "type": "array",
            "items": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" } } }
          }
        }
      },
      "_v1_forms__get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_forms__get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_forms_submissions_get_200_response": {
        "type": "object",
        "properties": {
          "submissions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "contactId": { "type": "string" },
                "__submissions_other_field__": { "type": "string" },
                "__custom_field_id__": { "type": "string" },
                "createdAt": { "type": "string" },
                "formId": { "type": "string" },
                "pageDetails": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string" },
                    "source": { "type": "string" },
                    "referrer": { "type": "string" },
                    "fbclid": { "type": "string" }
                  }
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": { "type": "number" },
              "currentPage": { "type": "number" },
              "nextPage": { "type": "number" },
              "prevPage": { "type": "number" }
            }
          }
        }
      },
      "_v1_forms_submissions_get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_forms_submissions_get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_locations__get_200_response": {
        "type": "object",
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "address": { "type": "string" },
                "city": { "type": "string" },
                "country": { "type": "string" },
                "state": { "type": "string" },
                "postalCode": { "type": "string" },
                "website": { "type": "string" },
                "timezone": { "type": "string" },
                "firstName": { "type": "string" },
                "lastName": { "type": "string" },
                "email": { "type": "string" },
                "phone": { "type": "string" },
                "business": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "address": { "type": "string" },
                    "city": { "type": "string" },
                    "country": { "type": "string" },
                    "state": { "type": "string" },
                    "postalCode": { "type": "string" },
                    "website": { "type": "string" },
                    "timezone": { "type": "string" }
                  }
                },
                "social": {
                  "type": "object",
                  "properties": {
                    "facebookUrl": { "type": "string" },
                    "googlePlus": { "type": "string" },
                    "linkedIn": { "type": "string" },
                    "foursquare": { "type": "string" },
                    "twitter": { "type": "string" },
                    "yelp": { "type": "string" },
                    "instagram": { "type": "string" },
                    "youtube": { "type": "string" },
                    "pinterest": { "type": "string" },
                    "blogRss": { "type": "string" },
                    "googlePlaceId": { "type": "string" }
                  }
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "allowDuplicateContact": { "type": "boolean" },
                    "allowDuplicateOpportunity": { "type": "boolean" },
                    "allowFacebookNameMerge": { "type": "boolean" },
                    "disableContactTimezone": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      },
      "_v1_locations__get_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_locations__get_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_locations__post_request": {
        "type": "object",
        "properties": {
          "businessName": { "type": "string" },
          "address": { "type": "string" },
          "city": { "type": "string" },
          "country": { "type": "string" },
          "state": { "type": "string" },
          "postalCode": { "type": "string" },
          "website": { "type": "string" },
          "timezone": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string" },
          "settings": {
            "type": "object",
            "properties": {
              "allowDuplicateContact": { "type": "boolean" },
              "allowDuplicateOpportunity": { "type": "boolean" },
              "allowFacebookNameMerge": { "type": "boolean" },
              "disableContactTimezone": { "type": "boolean" }
            }
          },
          "twilio": {
            "type": "object",
            "properties": { "sid": { "type": "string" }, "authToken": { "type": "string" } }
          },
          "snapshot": { "type": "object", "properties": { "id": { "type": "string" }, "type": { "type": "string" } } },
          "mailgun": {
            "type": "object",
            "properties": { "apiKey": { "type": "string" }, "domain": { "type": "string" } }
          },
          "social": {
            "type": "object",
            "properties": {
              "facebookUrl": { "type": "string" },
              "googlePlus": { "type": "string" },
              "linkedIn": { "type": "string" },
              "foursquare": { "type": "string" },
              "twitter": { "type": "string" },
              "yelp": { "type": "string" },
              "instagram": { "type": "string" },
              "youtube": { "type": "string" },
              "pinterest": { "type": "string" },
              "blogRss": { "type": "string" },
              "googlePlaceId": { "type": "string" }
            }
          }
        }
      },
      "_v1_locations__post_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "address": { "type": "string" },
          "city": { "type": "string" },
          "country": { "type": "string" },
          "state": { "type": "string" },
          "postalCode": { "type": "string" },
          "website": { "type": "string" },
          "timezone": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string" },
          "business": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "email": { "type": "string" },
              "address": { "type": "string" },
              "city": { "type": "string" },
              "country": { "type": "string" },
              "state": { "type": "string" },
              "postalCode": { "type": "string" },
              "website": { "type": "string" },
              "timezone": { "type": "string" }
            }
          },
          "social": {
            "type": "object",
            "properties": {
              "facebookUrl": { "type": "string" },
              "googlePlus": { "type": "string" },
              "linkedIn": { "type": "string" },
              "foursquare": { "type": "string" },
              "twitter": { "type": "string" },
              "yelp": { "type": "string" },
              "instagram": { "type": "string" },
              "youtube": { "type": "string" },
              "pinterest": { "type": "string" },
              "blogRss": { "type": "string" },
              "googlePlaceId": { "type": "string" }
            }
          },
          "settings": {
            "type": "object",
            "properties": {
              "allowDuplicateContact": { "type": "boolean" },
              "allowDuplicateOpportunity": { "type": "boolean" },
              "allowFacebookNameMerge": { "type": "boolean" },
              "disableContactTimezone": { "type": "boolean" }
            }
          }
        }
      },
      "_v1_locations__post_400_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_locations__post_401_response": { "type": "object", "properties": { "msg": { "type": "string" } } },
      "_v1_locations__post_422_response": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "lastName": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "email": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "phone": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "businessName": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "address": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "city": { "type": "object", "properties": { "message": { "type": "string" }, "rule": { "type": "string" } } },
          "state": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "country": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          },
          "postalCode": {
            "type": "object",
            "properties": { "message": { "type": "string" }, "rule": { "type": "string" } }
          }
        }
      },
      "_v1_locations_lookup_get_200_response": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "address": { "type": "string" },
          "city": { "type": "string" },
          "country": { "type": "string" },
          "state": { "type": "string" },
          "postalCode": { "type": "string" },
          "website": { "type": "string" },
          "timezone": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string" },
          "business": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "email": { "type": "string" },
              "address": { "type": "string" },
              "city": { "type": "string" },
              "country": { "type": "string" },
              "state": { "type": "string" },
              "postalCode": { "type": "string" },
              "website": { "type": "string" },
              "timezone": { "type": "string" }
[...]
