body {
    display: grid;
    place-items: center;
    & main {
        display: grid;
        grid-template-rows: auto auto auto;
        place-items: center;
        grid-gap: 1rem;
        padding: 1rem;
        color: #fff;

        & .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 60vw;
            overflow-wrap: anywhere;
            overflow-y: hidden;

            & .copy-text {
                height: 200px;
                overflow-y: scroll;
                margin-bottom: 2rem;
                border: 1px solid white;
                padding: 1rem;
                border-radius: 0.5rem;
                background: #2c2c2c;
            }
        }

        & .btn {
            display: inline-block;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            background: #334cda;
            color: #ffffff;
            text-decoration: none;

            &:hover {
                background: #1e2f8e;
            }

            &.copied {
                background: rgb(24, 142, 134);
                transition: background 0.2s ease;
            }
        }
    }
}
